{% extends 'email/base.html' %}

{% block preheader %}We can help!{% endblock preheader %}

{% block body %}

    <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="padding:48px 48px 24px 48px; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff">
          <p style="color: #324148; font-family: 'Roboto', sans-serif; font-size: 20px; font-weight:300; line-height: 24px;">
            Forgot your password?
          </p>
        </td>
      </tr>
    </table>

    <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="padding:0 48px 24px 48px; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff">
          <p style="color: #324148; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 24px;">
            That's okay, it happens! Let’s get you a new password.
          </p>
        </td>
      </tr>
    </table>

    <table border="0" cellPadding="0" cellSpacing="0" class="module" role="module" style="table-layout:fixed" width="100%">
      <tr><td align="left" bgcolor="#ffffff" class="outer-td" style="padding:0px 0px 24px 48px; background-color:#ffffff">
        <table border="0" cellPadding="0" cellSpacing="0" class="wrapper-mobile" style="text-align:left">
          <tr><td align="center" bgcolor="#8bc34a" class="inner-td" style="border-radius:2px; font-size:14px; text-align:center; background-color:inherit">
            <a href="{{ password_reset_url }}" class="button" style="background-color:#8bc34a; border-radius:2px; border-width:0px; color:#ffffff; display:inline-block; font-family: 'Roboto', sans-serif; font-size:14px; font-weight: bold; letter-spacing:0px; line-height:16px; padding:12px 12px 12px 12px; text-align:center; text-decoration:none; text-transform:uppercase" target="_blank" title="Reset my password!">Reset my password</a>
          </td></tr>
      </table>
    </td></tr></table>

    <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="padding:0 48px 24px 48px; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff">
          <p style="color: #324148; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 24px;">
            If you didn't request to change your Hu:toma password, you don't have to do anything. So that's easy
          </p>
        </td>
      </tr>
    </table>

    <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="padding:0 48px 48px 48px; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff">
          <p style="color: #324148; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 24px;">
            Our Best,<br><strong>Hu:toma team</strong>
          </p>
        </td>
      </tr>
    </table>

{% endblock body %}
