{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <!-- Prefetch DNS for Third-party files -->
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">

    <meta charset="utf-8">

    <title>{% block title %}{% trans 'console' %}{% endblock title %} • Hu:toma AI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Deep learning, AI, Hutoma, Artificial Intelligence, Machine Learning, Siri, Cortana, Deep Learning API, AI Marketplace, Chatbots">

    <meta name="description" content="{% trans 'Hu:toma helps developers around the world build and monetize deep learning chatbots by providing free access to a proprietary platform offering both the tools and the channels to create and share conversational AIs.' %}">

    <meta name="author" content="Hutoma AI">

    <meta name="theme-color" content="#42A5F5">
    <meta name="msapplication-navbutton-color" content="#42A5F5">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://console.hutoma.ai/"/>
    <meta property="og:title" content="Hu:toma — A Deep Learning Chatbot Marketplace"/>
    <meta property="og:image" content="{% static 'images/og-image.png' %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@hutomadotai"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

    {% block stylesheets.vendors %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">

    {% block stylesheets %}{% endblock %}

    {% block gtm.head %}
      <script>
        var dataLayer = []

        {% if user.is_authenticated %}
          const USER =  {
            name: '{{ user.first_name }}',
            email: '{{ user.email }}',
            username: '{{ user.username }}',
            token: '{{ request.session.token }}',
            devId: '{{ request.session.dev_id }}'
          }
          dataLayer.push({'user': USER})
        {% else %}
          const USER = {}
        {% endif %}

      </script>
    {% endblock %}

    {% if tag_manager_id %}
      {% include 'tag_manager_head.html' %}
    {% endif %}

  </head>

  <body{% block body.attributes %}{% endblock body.attributes %}>

    {% if tag_manager_id %}
      {% include 'tag_manager_iframe.html' %}
    {% endif %}

    {% block body %}

      {% block header %}
        {% include 'header.html' %}
      {% endblock %}

      {% block navigation %}{% endblock %}

      {% block messages %}
        {% include 'messages.html' %}
      {% endblock %}

      {% block content %}{% endblock %}

      {% block aside %}{% endblock %}

      {% block footer %}
        {% include 'footer.html' %}
      {% endblock footer %}

      {% block modals %}{% endblock %}

    {% endblock %}

    {% block extra_body %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js" integrity="sha256-NjbogQqosWgor0UBdCURR5dzcvAgHnfUZMcZ8RCwkk8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js" integrity="sha256-Daf8GuI2eLKHJlOWLRR/zRy9Clqcj4TUSumbxYH9kGI=" crossorigin="anonymous"></script>

    {% block javascripts.vendors %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <script>

      $(function () {
        $('[data-toggle=tooltip]').tooltip()
      })

    </script>

  </body>

</html>
