{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <!-- Prefetch DNS for Third-party files -->
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">

    <meta charset="utf-8">

    <title>{% block title %}{% trans 'console' %}{% endblock title %} • Hu:toma AI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Deep learning, AI, Hutoma, Artificial Intelligence, Machine Learning, Siri, Cortana, Deep Learning API, AI Marketplace, Chatbots">

    <meta name="description" content="{% trans 'Hu:toma helps developers around the world build and monetize deep learning chatbots by providing free access to a proprietary platform offering both the tools and the channels to create and share conversational AIs.' %}">

    <meta name="author" content="Hutoma AI">

    <meta name="theme-color" content="#42A5F5">
    <meta name="msapplication-navbutton-color" content="#42A5F5">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://console.hutoma.ai/"/>
    <meta property="og:title" content="Hu:toma — A Deep Learning Chatbot Marketplace"/>
    <meta property="og:image" content="{% static 'images/og-image.png' %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@hutomadotai"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

    {% block stylesheets.vendors %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">

    {% block gtm.head %}
      <script>
        var dataLayer = []

        {% if user.is_authenticated %}
          const USER =  {
            full_name: '{{ user.first_name }} {{ user.last_name }}',
            first_name: '{{ user.first_name }}',
            last_name: '{{ user.last_name }}',
            email: '{{ user.email }}',
            username: '{{ user.username }}',
            devId: '{{ request.session.dev_id }}',
            user_hash: '{{ user.profile.getIntercomHash }}',
            name: '{{ user.first_name }}' // Legacy property to be removed in 1.3.3
          }
          dataLayer.push({'user': USER})
        {% else %}
          const USER = {}
        {% endif %}

      </script>
    {% endblock %}

    {% if STACKDRIVER_ERRORS_JS_KEY and GCP_PROJECT_ID %}
      {% include 'stackdriver_errors_js.html' %}
    {% endif %}

    {% if tag_manager_id %}
      {% include 'tag_manager_head.html' %}
    {% endif %}

  </head>

  <body{% block body.attributes %}{% endblock body.attributes %}>

    {% if tag_manager_id %}
      {% include 'tag_manager_iframe.html' %}
    {% endif %}

    {% block body %}

      {% block header %}
        {% include 'header.html' %}
      {% endblock %}

      {% block navigation %}{% endblock %}

      {% block aside %}{% endblock %}

      {% block messages %}
        {% include 'messages.html' %}
      {% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}
        {% include 'footer.html' %}
      {% endblock footer %}

      {% block modals %}{% endblock %}

    {% endblock %}

    {% block extra_body %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>

    {% block javascripts.vendors %}{% endblock %}

    {% block javascripts %}
      <script src="{% static 'js/actions.js' %}"></script>
      <script>

        $(function () {
          $('[data-toggle=tooltip]').tooltip()
        });

      </script>
    {% endblock %}

  </body>

</html>
