{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <!-- Prefetch DNS for Third-party files -->
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %} • Hu:toma AI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Deep learning, AI, Hutoma, Artificial Intelligence, Machine Learning, Siri, Cortana, Deep Learning API, AI Marketplace, Chatbots">

    <meta name="description" content="{% trans 'Hu:toma helps developers around the world build and monetize deep learning chatbots by providing free access to a proprietary platform offering both the tools and the channels to create and share conversational AIs.' %}">

    <meta name="author" content="Hutoma AI">

    <meta name="theme-color" content="#42A5F5">
    <meta name="msapplication-navbutton-color" content="#42A5F5">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://console.hutoma.ai/"/>
    <meta property="og:title" content="Hu:toma — A Deep Learning Chatbot Marketplace"/>
    <meta property="og:image" content="{% static 'images/og-image.png' %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@hutomadotai"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">

    {% if tag_manager_id %}
      {% block gtm.head %}
        <script>
          var dataLayer = []

          {% if user.is_authenticated %}
            const USER =  {
              full_name: '{{ user.first_name }} {{ user.last_name }}',
              first_name: '{{ user.first_name }}',
              last_name: '{{ user.last_name }}',
              email: '{{ user.email }}',
              username: '{{ user.username }}',
              devId: '{{ request.session.dev_id }}',
              user_hash: '{{ user.profile.getIntercomHash }}',
              name: '{{ user.first_name }}' // Legacy property to be removed in 1.4.0
            }
            dataLayer.push({'user': USER})
          {% else %}
            const USER = {}
          {% endif %}

        </script>
      {% endblock %}

      {% include 'tag_manager_head.html' %}
    {% endif %}

  </head>

  <body>

    {% if tag_manager_id %}
      {% include 'tag_manager_iframe.html' %}
    {% endif %}


    <div>
      <a href="/"><img src="{% static 'images/blue.svg' %}" alt="Hu:toma Logo" height="72" width="178" /></a>
      <h1>{% block code %}{% endblock code %}</h1>
    </div>

    <div class="chat">

      {% block chat %}{% endblock chat %}

    </div>

    {% if request.META.HTTP_REFERER %}
      <a class="button inverse big" href="{{ request.META.HTTP_REFERER }}">{% trans 'Go back' %}</a>
    {% else %}
      <a class="button inverse big" href="/">{% trans 'home' %}</a>
    {% endif %}

    <footer>Copyright © 2018 Hu:toma. All rights reserved.</footer>

  </body>

</html>
