{% load i18n %}

<footer id="footer" class="web-footer">
  <div class="web-container" style="font-weight: bold;">

    <div class="row row-centered">

      <div class="col-md-3 col-sm-3 col-s-3 col-centered wow fadeInUp animated" data-wow-duration="250ms" data-wow-delay="200ms">
        <div class="footer-single">
          <h6>{% trans 'About' %}</h6>
          <ul>
            <li><a class="new-link" href="https://www.hutoma.ai/about.php">{% trans 'About Hu:toma' %}</a></li>
            <li><a class="new-link" href="https://www.hutoma.ai/privacy.pdf">{% trans 'Privacy Policy' %}</a></li>
            <li><a class="new-link" href="https://www.hutoma.ai/terms_and_conditions.pdf">{% trans 'Terms and Conditions' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 col-centered wow fadeInUp animated" data-wow-duration="250ms" data-wow-delay="400ms">
        <div class="footer-single">
          <h6>{% trans 'Get in Touch' %}</h6>
          <ul>
            <li><a class="new-link" href="https://twitter.com/hutomadotai"><i class="fa fa-twitter fa-lg"> </i> Twitter</a></li>
            <li><a class="new-link" href="https://www.facebook.com/HutomadotAI/"><i class="fa fa-facebook fa-lg"></i> Facebook</a></li>
            <li><a class="new-link" href="https://www.linkedin.com/company/hutoma"><i class="fa fa-linkedin fa-lg"></i> linkedin</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 col-centered wow fadeInUp animated" data-wow-duration="250ms" data-wow-delay="500ms">
        <div class="footer-single">
          <h6>{% trans 'Enterprise Customers' %}</h6>
          <ul>
            <li><a class="new-link" href="mailto:hello@hutoma.com?subject=hutoma demo request">{% trans 'Schedule Demo' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="web-copyright text-center">
            Copyright © 2017 Hu:toma Artificial Intelligence
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>
