{% load i18n %}

<footer class="web-footer">
  <div class="container">

    <div class="row">

      <div class="col-md-3 text-center">
        <div class="footer-single">
          <h6>{% trans 'Product' %}</h6>
          <ul>
            <li><a href="https://www.hutoma.ai/#requestademo" class="new-link">{% trans 'Request a Demo' %}</a></li>
            <li><a href="https://www.hutoma.ai/partners" class="new-link">{% trans 'Partners' %}</a></li>
            <li><a href="https://github.com/hutomadotai" class="new-link" rel="nofollow">{% trans 'GitHub' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="footer-single">
          <h6>{% trans 'Support' %}</h6>
          <ul>
            <li><a href="https://help.hutoma.ai" class="new-link" target="_blank">{% trans 'Documentation' %}</a></li>
            <li><a href="https://v.fastcdn.co/u/97a8436d/27852647-0-privacy.pdf" class="new-link" target="_blank" rel="nofollow">{% trans 'Privacy Policy' %}</a></li>
            <li><a href="https://v.fastcdn.co/u/97a8436d/27853392-0-terms-and-conditions.pdf" class="new-link" target="_blank" rel="nofollow">{% trans 'Terms of service' %}</a></li>
            <li><a href="https://v.fastcdn.co/u/97a8436d/27853407-0-cookiepolicy.pdf" class="new-link" target="_blank" rel="nofollow">{% trans 'Cookies' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="footer-single">
          <h6>{% trans 'Other' %}</h6>
          <ul>
            <li><a href="https://www.hutoma.ai/technology" class="new-link">{% trans 'Technology' %}</a></li>
            <li><a href="https://www.hutoma.ai/pricing" class="new-link">{% trans 'Pricing' %}</a></li>
            <li><a href="https://www.hutoma.ai/about" class="new-link">{% trans 'About' %}</a></li>
            <li><a href="https://angel.co/hutoma" class="new-link" target="_blank" rel="nofollow">{% trans 'Career' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="footer-single">
          <h6>{% trans 'Community' %}</h6>
          <ul>
            <li><a href="https://blog.hutoma.ai" class="new-link" target="_blank">Blog</a></li>
            <li><a href="https://hutomadotai.slack.com" class="new-link" target="_blank" rel="nofollow">Slack</a></li>
            <li><a href="https://www.facebook.com/HutomadotAI/" class="new-link" target="_blank" rel="nofollow">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/10299632/" class="new-link" target="_blank" rel="nofollow">Linkedin</a></li>
            <li><a href="https://twitter.com/hutomadotai" class="new-link" target="_blank" rel="nofollow">Twitter</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="web-copyright text-center">
          Copyright © 2018 Hu:toma Artificial Intelligence
        </p>
      </div>
    </div>
  </div>
</footer>
