{% load i18n static %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/"><img src="{% static 'images/logo-white.png' %}" alt="hutoma logo" height="40"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.hutoma.ai/technology">{% trans 'Technology' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.hutoma.ai/partners">{% trans 'Partners' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.hutoma.ai/about">{% trans 'About' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
