{% load i18n %}

<div class="box box-solid box-clean flat no-shadow ">

  <div class="box-header with-border">
    <div class="box-title"><b>{% blocktrans %}Welcome to Hu:toma.ai — the marketplace for your bots{% endblocktrans %}</b></div>
    <a data-toggle="collapse" href="#collapseStart" tabindex="-1">
      <div class=" pull-right">{% trans 'more info' %}
        <i class="fa fa-question-circle text-sm text-yellow"></i>
      </div>
    </a>
  </div>

  <div class='box-body'>
    <p>{% blocktrans %}You're amongst the very first people to have access to our platform! Thanks for your support! We're in beta, so your feedback and patience would be incredibly helpful.{% endblocktrans %}</p>

    <div class="text-center" style="margin: 2rem 0 1rem">
      <a href="{% url 'add_bot' %}" class="btn btn-success btn-lg flat" id="btnCreateAI"><b>{% trans 'Create New Bot' %}</b> <span class="fa fa-arrow-circle-right"></span></a>
    </div>

    <div id="collapseStart" class="panel-collapse collapse">
      <div class="box-body" style="padding: 10px 0 0 0;">
        <div class="overlay center-block">
          <section class="content-info" >
            <div class="box-body">
              {% blocktrans %}To create a bot, click the <b>Create New Bot</b> button or check the video tutorial for more info.{% endblocktrans %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <span>
      {% blocktrans %}If you’re stuck check out our <a data-toggle="collapse" href="#collapseCreateBotVideoTutorial">video tutorial</a> or email <a href='mailto:support@hutoma.ai?subject=Invite%20to%20slack%20channel' tabindex="-1">support@hutoma.ai</a> for an invite to our slack channel.{% endblocktrans %}
    </span>
    <p></p>

    <div id="collapseCreateBotVideoTutorial" class="panel-collapse collapse">
      <div class="box-body flat no-padding center-block" style="max-width: 700px;margin-auto;">
        <div class="overlay center-block">
          <div class="embed-responsive embed-responsive-16by9" id="videoCreateBot">
            <iframe
              src="//www.youtube.com/embed/uFj73npjhbk?controls=1&hd=1&enablejsapi=1"
              frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
