{% load i18n %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid box-clean flat no-shadow">

      <div class="box-header with-border">
        <div class="box-title">
          {% blocktrans %}Hu:toma Botstore — transfer skills to your bot in few
          clicks{% endblocktrans %}
        </div>
      </div>

      <div class="box-body">
        <div class="alert flat alert-info no-margin">
          {% url 'studio:ai.wizard' as link %}
          {% blocktrans with link=link %}The Hu:toma botstore allows you to
          purchase skills that you can then transfer to your bot. Mix and match
          bots together to create new functionalities. Bots purchased here will
          appear in the skill section when you
          <a href="{{ link }}">create a new bot</a>.{% endblocktrans %}
         </div>
      </div>

      <div class="box-footer">
        <p>
          {% blocktrans %}If you’re stuck check out our <a data-toggle="modal" data-target="#CREATE_BOT_VIDEO_TUTORIAL">video tutorial</a>,
          join our <a href="https://hutomadotai.slack.com" target="_blank">Slack community</a>,
          or ask any questions you have in the chat window in the bottom right.{% endblocktrans %}
        </p>
      </div>

    </div>
  </div>
</div>

{% trans 'Create bot video tutorial' as title %}
{% include 'modals/video_tutorial.html' with id='CREATE_BOT_VIDEO_TUTORIAL' title=title slug='uFj73npjhbk' %}
