{% load botstore_tags %}

<ul class="treeview-menu {% if not botstore %}collapse{% endif %}" id="categories">

  <li{% if active == 'All' %} class="active"{% endif %}><a href="{% url 'botstore:all' %}"><i class="fa fa-globe text-gray text-center"></i>All</a></li>

  {% for category, bots in categories.items %}
    <li{% if active == category|lower %} class="active"{% endif %}><a href="{% url 'botstore:category' category=category|lower|urlencode %}"><i class="fa {{ icons|lookup:category }} text-gray text-center"></i> {{ category|title }}</a></li>
  {% endfor %}

</ul>
