{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Botstore' %}{% endblock %}

{% block body.attributes %} class="fixed workspace"{% endblock %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'navigation.html' with botstore=True %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock %}
