{% load i18n %}

<div class="box-card flat no-padding">

  {% block image %}
    <a href="{% url 'botstore:detail' bot.botId %}"><img class="card-icon" src="{{ MEDIA_URL }}boticon/{{ bot.botIcon }}"></a>
  {% endblock image %}

  {% block title %}
    <div class="card-title no-shadow"><a href="{% url 'botstore:detail' bot.botId %}">{{ bot.name }}</a></div>
  {% endblock title %}

  {% block author %}
    <div class="card-author no-shadow">{% trans 'by' %} {{ developer.company }}</div>
  {% endblock author %}

  {% block actions %}
    <a class="card-testBotLink" href="{% url 'studio:add_bot' %}" target="_top" style="display:none;">{% trans 'Test Bot' %}</a>
  {% endblock actions %}

  {% block price %}
    <div class="box-card-footer flat">
      {% if owned %}
        <span class="badge badge-primary">{% trans 'Skill purchased' %}</span>
      {% else %}
        <span class="card-linked"><a href="{% url 'botstore:detail' bot.botId %}"><span class="card-price pull-right">{{ bot.price }} €</span></a></span>
      {% endif %}
    </div>
  {% endblock price %}

</div>
