{% extends 'botstore_base.html' %}

{% load i18n %}

{% block title %}{% trans 'Botstore' %}{% endblock %}

{% block navigation %}
  {% include 'navigation.html' with botstore=True category='All' %}
{% endblock %}

{% block content %}

  <div class="content-wrapper">
    <section class="content">

      {% include 'botstore_info.html' %}

      {% for category, bots in categories.items %}

        {% include 'category.html' with category=category bots=bots more=True %}

      {% endfor %}

    </section>
  </div>

{% endblock %}
