{% load i18n %}

<div class="row">
  <div class="col-md-12">
    <h2 class="category-title">{{ category|title }}</h2>
    <div class="box-card-row">
      {% for bot in bots %}
        {% include 'box-card.html' with developer=bot.developer bot=bot.metadata owned=bot.owned %}
      {% endfor %}

      {% if more %}
        <div class="category-list-see-more">
          <a class="btn btn-primary flat pull-right" href="{% url 'botstore:category' category=category|lower|urlencode %}">see more</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
