/**
 *
 * A formset is a layer of abstraction to work with multiple forms on the same
 * page. It can be best compared to a data grid.
 *
 * As formset are extremly nasty to manage filelds we style formset using
 * `display: Flex` which let us control individual fields
 *
 */

.form-section {
  margin: 1rem 0 1.5rem;
  width: 100%;
}

.form-formset {
  display: flex;
  margin: 0 -1rem 2rem;
  padding: 0 1rem;
  flex-wrap: wrap;
  position: relative;
}

.form-formset-group {
  margin: 0 0 2rem;
  position: relative;
}

.form-formset-group .form-formset {
  margin-bottom: 1rem;
}

.form-formset .form-group,
.form-formset .form-actions {
  margin: 1px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.form-formset .form-group .controls {
  min-height: 2.25rem;
  margin-top: auto;
}

.form-formset .form-group label {
  font-size: smaller;
}

.form-formset .form-control:disabled,
.form-formset .form-control[readonly] {
  background-color: #515151;
}

.form-formset .btn {
  background-color: var(--INPUT_BACKGROUND);
  height: 2.25rem;
  padding: 0 12px;
  line-height: 2.25rem;
  margin-bottom: 0;
}

.form-formset .delete {
  display: none;
}

.form-formset .form-actions .btn {
  background-color: #333;
  border-radius: 0;
  color: #ADADAD;
  font-size: normal;
  font-weight: normal;
  margin-top: auto;
  width: 2.25rem;
}

.form-formset .formset-remove:hover,
.form-formset .formset-remove:focus {
  color: #fff;
  background-color: var(--DANGER);
}

.form-formset .formset-add:hover,
.form-formset .formset-add:focus {
  color: #fff;
  background-color: var(--SUCCESS);
}

.form-formset .delete:checked ~ .form-group,
.form-formset-group.removed .form-control {
  opacity: 0.2;
}

.form-formset .delete:checked ~ select,
.form-formset .delete:checked ~ input,
.form-formset-group.removed select,
.form-formset-group.removed input,
.form-formset-group.removed .controls.nested .btn  {
  pointer-events: none;
}

.form-formset-group.removed::after,
.form-formset .delete:checked ~ .form-actions::after {
  content: 'will be deleted';
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-formset-group.removed .form-formset .delete:checked ~ .form-actions::after {
  display: none;
}

.form-formset .actions-group .controls:not(.nested) {
  opacity: 1 !important;
}

.form-formset .text-muted,
.form-formset .invalid-feedback {
  bottom: -1.5rem;
  position: absolute;
}

/* Nested formsets */

.form-formset.nested {
  margin: 0 1.5rem 0 -1rem;
}

.form-formset.nested:last-of-type {
  margin-bottom: 1.5rem;
}

.form-formset.nested + .form-formset.nested .form-group label {
  display: none;
}

.form-formset.nested .formset-add {
  display: none;
}

.form-formset.nested:last-of-type .formset-add {
  display: initial;
}

.form-formset.nested:last-of-type .formset-remove {
  display: none;
}
