/**
 *
 * A formset is a layer of abstraction to work with multiple forms on the same
 * page. It can be best compared to a data grid.
 *
 * As formset are extremly nasty to manage filelds we style formset using
 * `display: Flex` which let us control individual fields
 *
 */

.form-formset {
  display: flex;
  margin: 0 -1rem 2rem;
  padding: 0 1rem;
  flex-wrap: wrap;
  position: relative;
}

.form-formset .form-group {
  margin: 1px;
  display: flex;
  flex-direction: column;
}

.form-formset .form-group .controls {
  background-color: var(--INPUT_BACKGROUND);
  min-height: 34px;
  margin-top: auto;
}

.form-formset .control-label {
  font-size: smaller;
}

.form-formset .btn {
  background-color: var(--INPUT_BACKGROUND);
  height: 34px;
  padding: 0 12px;
  line-height: 34px;
}

.form-formset .delete {
  display: none;
}

.form-formset .delete-group .btn {
  background-color: #333;
  border-radius: 0;
}

.form-formset .formset-remove:hover,
.form-formset .formset-remove:focus {
  color: #fff;
  background-color: var(--DANGER);

}

.form-formset .delete:checked ~ .form-group .control-label,
.form-formset .delete:checked ~ .form-group .controls,
.form-formset .delete:checked ~ .form-group .controls .form-control {
  opacity: 0.2;
}

.form-formset .delete:checked ~ .form-group:last-of-type::after {
  content: 'will be deleted';
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

.form-formset .delete-group .controls {
  opacity: 1 !important;
}

.form-formset .controls,
.form-formset .controls .form-control {
  border-radius: 0;
}

/* TODO: move to entities stylesheet */

.form-group.n_prompts-group {
  width: 7rem;
}

.form-group.entity-name-group,
.form-group.label-group {
  flex-grow: 2;
}

.form-group.prompts-group {
  order: 1;
  width: 100%;
}

.form-group.prompts-group .control-label {
  display: none;
}

.form-group.required-group .controls {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 6rem;
}
