#INTENT_FORM {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#INTENT_FORM > .form-group {
  width: 100%;
}

#INTENT_FORM #FIELD_ID_USER_SAYS,
#INTENT_FORM #FIELD_ID_RESPONSES {
  display: flex;
  flex-direction: column;
  width: 49%;
}

@media (max-width: 1024px) {
  #INTENT_FORM #FIELD_ID_USER_SAYS,
  #INTENT_FORM #FIELD_ID_RESPONSES {
    width: 100%;
  }
}

#INTENT_FORM #FIELD_ID_USER_SAYS .tokenfield,
#INTENT_FORM #FIELD_ID_RESPONSES .tokenfield {
  flex-grow: 2;
  justify-content: flex-end;
}

#FIELD_ID_CONDITIONS_DEFAULT_RESPONSE {
  margin-top: 1rem;
}

#INTENT_FORM .advanced {
  width: 100%;
}

#INTENT_FORM .advanced {
  padding: 0;
}

.advanced {
  margin: 0 0 1.5rem;
}

#INTENT_FORM .advanced-toggle::after {
  -webkit-font-smoothing: antialiased;

 content: '\f077';
 color: #999;
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 position: absolute;
 width: 1.5rem;
 right: 0;
 height: 1.5rem;
 line-height: 1.5rem;
 text-align: center;
}

#INTENT_FORM .advanced-toggle.collapsed::after {
  content: '\f078';
}

#FIELD_ID_USER_SAYS .token:not(.invalid) {
  background-color: var(--HUTOMA-BLUE-500);
}

#WELCOME {
  height: calc(100vh - 10rem);
  min-height: 32rem;
}

#WELCOME .box-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#WELCOME .box-body .title {
  color: #98A8BA;
  font-size: 16px;
  font-weight: bold;
}

#WELCOME .box-body img {
  margin: 1.5rem;
}

#WELCOME .box-body p {
  margin-bottom: 1.5rem;
  max-width: 20rem;
  text-align: center;
}

#WELCOME .actions {
  display: flex;
}

#WELCOME .actions .btn {
  margin: 0 1px;
}

#FIELD_ID_RESET_CONTEXT_ON_EXIT {
  margin: 0 0 1.5rem;
}

#FIELD_ID_RESET_CONTEXT_ON_EXIT label {
  font-weight: normal;
}

.intents.table .expressions-column {
  width: 30%;
}

.intents.table .responses-column {
  width: 30%;
}

.intents.table .name-column {
  width: 20%;
  word-wrap: break-word;
  white-space: initial;
}

@media (max-width: 1272px) {
  .intents.table .webhook-column,
  .intents.table .lables-column,
  .intents.table .updated-column {
    display: none;
  }
}

@media (max-width: 1440px) {
  .aside.show ~ .content-wrapper .intents.table .updated-column {
    display: none;
  }
}

@media (max-width: 1272px) {
  .intents.table .webhook-column,
  .intents.table .lables-column {
    display: none;
  }
}

@media (max-width: 768px) {
  .intents.table .responses-column,
  .intents.table .expressions-column {
    display: none;
  }
}

.asc::after {
  content: '▾';
  transform: rotate(180deg);
}

.desc::after {
  content: '▾';
}

.sort {
  cursor: default;
}

.sort::after {
  display: inline-block;
  margin: 0 4px;
}

.intents.table .updated-column {
  white-space: nowrap;
}

.actions-column {
  text-align: right;
  width: 2rem;
}

.actions-column .btn {
  border: none;
  background-color: transparent;
}

.bubble {
  background-color: var(--HUTOMA-GREY-500);
  border-radius: 1rem;
  color: white;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0 0 0.5rem;
  overflow: hidden;
  padding: 0.25rem 0.75rem;
  position: relative;
  word-break: break-all;
}

.expressions-column .bubble {
  background-color: var(--HUTOMA-BLUE-500);
  display: inline-block;
}

.form-group[id$='-VARIABLE'],
.form-group[id$='-VALUE'] {
  flex-grow: 2;
}

.form-group[id$='-ENTITY_NAME'] {
  max-width: 30%;
}

.form-group[id$='-N_PROMPTS'] {
  width: 7rem;
}

.form-group[id$='-ENTITY_NAME'],
.form-group[id$='-LABEL'] {
  flex-grow: 2;
}

.form-group[id$='-PROMPTS'] {
  order: 1;
  width: 100%;
}

.form-group[id$='-PROMPTS'] label {
  display: none;
}

.form-group[id$='-REQUIRED'] .controls,
.form-group[id$='-CLEAR_ON_ENTRY'] .controls {
  align-items: center;
  background-color: #515151;
  display: flex;
  justify-content: center;
  width: 6rem;
}

.form-group[id$='-INTENT_TO_EXECUTE'] {
  flex-grow: 2;
}

@media (max-width: 1280px) {
  /* Better entity presentation on smaller screens */
  .form-group[id$='-ENTITY_NAME'] {
    order: 1;
    width: 100%;
  }
  .form-group[id$='-ENTITY_NAME'] label {
    display: none;
  }
}

@media (max-width: 1440px) {
  /* Better entity presentation on smaller screens */
  .form-group[id$='-LABEL'] {
    order: 1;
    width: 100%;
  }
  .form-group[id$='-LABEL'] label {
    display: none;
  }
  .form-group[id$='-ENTITY_NAME'] {
    max-width: none;
  }
}
