/**
 * Based on prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author prism.js tomorrow night eighties Rose Pritchard
 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:600');

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: 'Source Code Pro', Monaco, monospace;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--HUTOMA-BLUE-300);
}

.token.function-name {
  color: var(--HUTOMA-YELLOW-500);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--HUTOMA-BLUE-100);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--HUTOMA-BLUE-300);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--HUTOMA-BLUE-500);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--HUTOMA-YELLOW-100);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--HUTOMA-GREY-100)
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
