/**
 *
 * A jQuery tag/token input plug-in for Twitter's Bootstrap
 *
 * https://github.com/sliptree/bootstrap-tokenfield
 *
 * We style Tokenfields using `display: flex`, we use `column-reverse` so the
 * input is always on the top and tokens are inserted at the beginning .
 * We restyle original input so we can see validation messages.
 *
 */

.tokenfield {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: flex-start;
}

@keyframes heightGrow {
  /* Used to delay token field growth so submitting is possible */
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.tokenfield .token-input {
  color: white;
  height: auto;
  padding: 1px 0;
}

.tokenfield textarea.token-input {
  height: 24px;
  resize: none;
}

.tokenfield .token-input::placeholder {
  color: #999;
}

.tokenfield .token {
  border: none;
  background-color: var(--HUTOMA-GREY-500);
  line-height: 1.5rem;
  padding: 0.25rem 0.75rem;
  color: white;
  cursor: text;
  height: auto;
  border-radius: 1rem;
  font-size: 0.875rem;
  margin: 0 -0.5rem 0.5rem;
  padding-right: 2rem;
  position: relative;
  animation: heightGrow 100ms ease forwards;
}

.tokenfield .more-tokens {
  order: -1;
  width: 50%;
  margin: 1rem auto;
}

.tokenfield .token .token-label {
  white-space: pre-wrap;
  word-break: break-word;
  display: block;
}

.tokenfield .token .close {
  font-size: 0;
  opacity: 0.8;
  position: absolute;
  right: 0rem;
  padding: 0;
  margin: 0;
  top: 0;
  height: auto;
  top: 7px;
  right: 0.5rem;
}

.tokenfield .token .close:hover {
  opacity: 1;
}

.tokenfield .token .close::before {
  -webkit-font-smoothing: antialiased;

  color: white;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  content: '\f057';
  font-size: 1rem;
}


.tokenfield .token.invalid {
  background-color: var(--DANGER);
  border: none;
  border-radius: 1rem;
}

.tokenfield .token.invalid.active {
  background-color: var(--HUTOMA-RED-900);
  border: none;
  border-radius: 1rem;
}

.tokenfield [data-tokenfield] {
  /* Overwrites in-line styling */
  left: 0 !important;
  opacity: 0;
  top: 0;
  z-index: -1;
}

/* Hide input for single token fields */
.tokenfield [data-limit="1"] ~ .token + input {
  display: none;
}
