/**
 *
 * Styling of training status. TODO: move progress in to forms styles
 *
 * We style training status using `display: flex`
 *
 */

.traningStatus {
  display: flex;
  position: relative;
  width: 100%;
}

.traningStatus label {
  margin: 0;
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.traningStatus progress {
  background-color: var(--UI-800);
  border: none;
  flex-grow: 2;
  height: 2rem;
  margin-left: 2rem;
  overflow: hidden;
  position: relative;
  background-size: 5rem 5rem;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  animation: move 2s linear infinite;
}

.traningStatus progress::after {
  content: '';
  background-size: 5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: 5rem 5rem;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  animation: move 2s linear infinite;
}

.traningStatus span {
  font-size: small;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  z-index: 2;
}

.traningStatus progress::-moz-progress-bar {
  /* We must separate it so both browsers works */
    background-color: var(--SUCCESS);
}

.traningStatus progress::-webkit-progress-value {
  /* We must separate it so both browsers works */
    background-color: var(--SUCCESS);
    position: absolute;
    z-index: 2;
}

.traningStatus progress::-webkit-progress-bar {
    background-color: var(--UI-800);
}

@keyframes move {
  from  { background-position: 0 0; }
  to    { background-position: 5rem 5rem; }
}
