{% load i18n %}

<div class="box-card">

  <a href="{% url 'botstore:detail' widget.label.botId %}" target="_blank"><img class="card-icon" src="{{ MEDIA_URL }}boticon/{{ widget.label.botIcon }}"></a>

  <div class="card-title no-shadow"><a href="{% url 'botstore:detail' widget.label.botId %}" target="_blank">{{ widget.label.name }}</a></div>

  <div class="switch-checkbox">
    {% include "django/forms/widgets/input.html" %}
    <label for="{{ widget.attrs.id }}">{% trans 'Add' %}</label>
  </div>

</div>
