{% extends 'modals/danger_modal.html' %}

{% load i18n %}

{% block title %}{% trans 'Delete bot' %}{% endblock title %}

{% block body %}
  <p>{% blocktrans %}Are you sure you want to permanently delete{% endblocktrans %} {{ ai.name }}?</p>
  <form method="post" action="{% url 'studio:proxy.ai' ai.aiid %}" id="delete_bot">
    {% csrf_token %}
    <input type="hidden" name="aiid" value="{{ ai.aiid }}">
    <input type="hidden" name="action" value="delete">
  </form>
{% endblock body %}

{% block footer %}
  <button type="button" class="btn btn-primary flat" data-dismiss="modal">{% trans 'Cancel' %}</button>
  <button type="submit" form="delete_bot" class="btn btn-danger flat">{% trans 'Delete' %}</button>
{% endblock footer %}
