{% extends 'modals/danger_modal.html' %}

{% load i18n %}

{% block title %}{% trans 'Delete element' %}{% endblock title %}

{% block body %}
  <p>{% blocktrans %}Are you sure you want to permanently delete <span class="element-id"></span>?{% endblocktrans %}</p>
  <form method="post" id="delete_element_form">{% csrf_token %}</form>

{% endblock body %}

{% block footer %}
  <button class="btn btn-primary flat" data-dismiss="modal">{% trans 'Cancel' %}</button>
  <button form="delete_element_form" class="btn btn-danger flat">{% trans 'Delete' %}</button>
{% endblock footer %}
