{% extends 'modals/danger_modal.html' %}

{% load i18n %}

{% block title %}{% trans 'Regenerate the webhook signing secret' %}{% endblock title %}

{% block body %}
  <p>{% blocktrans %}Warning — if this is updated, all code relying on the existing key for signature validation must be updated{% endblocktrans %}</p>
  <form method="post" action="{% url 'studio:proxy.ai.regenerate_webhook_secret' ai.aiid %}" id="regenerate_webhook">
    {% csrf_token %}
    <input type="hidden" name="aiid" value="{{ ai.aiid }}">
  </form>
{% endblock body %}

{% block footer %}
  <button class="btn btn-primary flat" data-dismiss="modal">{% trans 'Cancel' %}</button>
  <button form="regenerate_webhook" class="btn btn-danger flat">{% trans 'Generate' %}</button>
{% endblock footer %}
