{% load i18n %}

<div class="modal fade" tabindex="-1" role="dialog" id="sampleTrainingFile">
  <div class="modal-dialog modal-dialog-centered modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-file-text-o text-success"></i> <span>{% trans 'Training file sample' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <pre>{% blocktrans %}What is your name?
My name is Hu:toma.

What does Hu:toma mean?
It is the combination of two words, human and automata.

What is the meaning of life?
If you find the answer, let me know.

Where do you live?
Barcelona & London.

How old are you?
I am 8760 hours old.

Can we be friends?
Yes of course we can be friends!

Good morning Hu:toma
Good morning to you too my friend.{% endblocktrans %}</pre>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary flat" data-dismiss="modal">{% trans 'Ok' %}</button>
      </div>

    </div>
  </div>
</div>

