{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Developer Info' %}{% endblock %}

{% block body.attributes %} class="fixed workspace"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'navigation.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="box box-solid box-clean flat no-shadow">
      <div class="box-header with-border">
        <div class="box-title"><b>{% trans 'Developer Info' %}</b></div>
      </div>

      <div class="box-body">

        <form method="post" id="INFO_FORM" {% if next %}action="?next={{ next }}"{% endif %} class="form-info">
          {% csrf_token %}

          {{ form | crispy }}

        </form>

      </div>

      <div class="box-footer">
        <button form="INFO_FORM" class="btn btn-success flat pull-right">{% trans 'Save' %}</button>
      </div>

    </div>

  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock %}
