@import url('tables.css');

html,
body {
  min-height: 100vh;
}

.layout-boxed html,
.layout-boxed body {
    height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #424242;
  color: #ADADAD;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
}

hr {
  border-color: #888;
  margin: 0.75rem 0;
}

iframe {
  border: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0 auto;
  font-weight: normal;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: lighter;
  margin: 0;
}

pre {
  display: block;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
  line-height: 1.5;
  color: #eee;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #444;
  border-radius: 0;
}

label {
  font-weight: bold;
}

input::selection {
  background-color: var(--HUTOMA-BLUE-300);
  color: white;
}

.modal.in .modal-dialog {
  transform: translate(0, 50vh) translate(0, -50%);
}

.modal .close {
  opacity: 0.6;
}

.modal .close:hover {
  opacity: 1;
}

.modal .modal-content {
  background-color: #212121;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar-menu > li > .slack-community {
  display: none;
}

.workspace {
  padding-top: 5rem;
}

.input-group-text {
  padding: .275rem .75rem;
}

@media (min-width: 768px) {
  .workspace.chatable .aside.show ~ .messages,
  .workspace.chatable .aside.show ~ .content-wrapper {
    margin-right: 20rem;
  }
}

@media (min-width: 1440px) {
  .workspace.chatable .aside.show ~ .messages,
  .workspace.chatable .aside.show ~ .content-wrapper {
    margin-right: 30rem;
  }
}

@media (min-width: 1024px) {
  .workspace {
    padding-left: 13rem;
  }
}

.workspace .content-wrapper {
  min-height: calc(100vh - 10rem);
  padding: 0 1rem;
}

.workspace .aside {
  width: 0;
  display: none;
}

.workspace.chatable .aside {
  background-color: #222;
  padding: 4.125rem 0 0;
  flex-direction: column;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 20rem;
  z-index: 1010;
}

@media (min-width: 1440px) {
  .workspace.chatable .aside {
    width: 30rem;
  }
}

.workspace.chatable .aside.show {
  display: flex;
}

.documentation.link {
  color: #999;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.smallprint {
  font-size: small;
}

.form-signup {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: left;
}

.form-signup label {
  font-size: 12px;
}

.form-signup .form-group {
  position: relative;
  width: 48%;
}

.form-signup .toggle-password {
  background: no-repeat;
  border: none;
  bottom: 0;
  color: #fff;
  font-size: 1rem;
  line-height: 36px;
  outline: none !important;
  position: absolute;
  right: 0.5rem;
}

.form-signup #div_id_captcha {
  /* trick to fit reCaptcha */
  transform: scale(.94);
}

.form-signup #div_id_captcha > div {
  /* trick to position reCaptcha */
  margin-left: -8px;
}

.form-signup #div_id_agree .asteriskField {
  display: none;
}

@media (max-width: 480px) {
  .form-signup .form-group {
    width: 100%;
  }
}

.set-language select {
  color: #333;
}

.form-add {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem -0.5rem;
}

.form-add .form-group {
  margin: 0 0.5rem 1rem;
}

.form-add #div_id_description {
  flex-grow: 2;
}

.form-add #div_id_name .text-muted {
  position: absolute;
}

@media (max-width: 1024px) {
  .form-add {
    flex-direction: column;
  }

  .form-add #div_id_name .text-muted {
    position: static;
  }
}

.loading {
  background-image: url('data:image/svg+xml;charset=utf8,<svg width="120" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="white"><circle cx="30" cy="15" r="8"><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="60" cy="15" r="8" fill-opacity="0.3"><animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="90" cy="15" r="8"><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" /></circle></svg>');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2rem;
  color: transparent !important;
  cursor: progress !important;
  opacity: 1 !important;
}

.form-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.5rem;
}

.form-info .form-group {
  width: 32% !important;
  margin: 0.5rem;
}

.form-info #div_id_website {
  flex-grow: 2;
}

@media (max-width: 768px) {
  .form-add {
    flex-direction: column;
  }

  .form-add #div_id_name {
    margin-bottom: 4rem;
  }
}

.form-webhook,
.form-import {
  display: flex;
  padding: 0;
}

.form-webhook .form-group:first-of-type,
.form-import .form-group:first-of-type {
  flex-grow: 2;
  margin-right: 2rem;
}

.form-webhook .form-group:last-of-type,
.form-import .form-group:last-of-type {
  align-self: flex-end;
}

#SKILLS_FORM {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}


form h5 {
  width: 100%;
  display: flex;
  margin: 0 0 1.5rem;
}


form h5 .text {
  padding: 0.75rem 0;
  margin-right: auto;
  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: bold;
  color: #98A8BA;
  line-height: 1.5rem;
  position: relative;
}

form h5 .fa {
  color: #999;
  font-size: 0.875rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: 0.75rem 0;
  text-align: center;
  width: 1.5rem;
}

form h5 button {
  background-color: transparent;
  border: none;
  text-align: left;
}

.errorlist {
  background-color: var(--DANGER);
  border-radius: 0;
  border: none;
  color: #fff;
  margin: 0 0.5rem 2rem;
  padding: 1rem;
  width: 100%;
}

/* Switch checkbox */

  .switch-checkbox {
    display: flex;
    justify-content: center;
    height: 1.5rem;
    margin: 1.5rem 0;
  }

  .switch-checkbox input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .switch-checkbox label {
    background: #1a2226;
    border-radius: 1.5rem;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    position: relative;
    text-indent: -9999px;
    width: 3rem;
  }

  .switch-checkbox label:after {
    background: #fff;
    border-radius: 1.5rem;
    content: '';
    height: 1.1rem;
    left: 0.2rem;
    position: absolute;
    top: 0.2rem;
    transition: 0.3s;
    width: 1.1rem;
  }

  .switch-checkbox input:checked + label {
    background: #00a65a;
  }

  .switch-checkbox input:checked + label:after {
    left: calc(100% - 0.2rem);
    transform: translateX(-100%);
  }

  .switch-checkbox label:active:after {
    width: 5rem;
  }

#div_id_email, #div_id_password1, #div_id_submit {
  width: 100%;
}

body > section, .footer {
  padding: 70px 0 0;
}

/* Layout */
.wrapper {
    min-height: 100%;
    background-color: #434343;
    position: relative;
    overflow: hidden;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}



.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

/*
 * Content Wrapper - contains the main content
 * ```.right-side has been deprecated as of v2.0.0 in favor of .content-wrapper  ```
 */
.content-wrapper
.main-footer {
  transition: transform 0.1s ease-in-out, margin 0.1s ease-in-out;
  margin-left: 230px;
  min-width: 520px;
  z-index: 820;
}

.content-wrapper {
    min-height: 100%;
    background-color: #434343;
    z-index: 800;
}

.main-footer {
  background: black;
  box-sizing: border-box;
  color: inherit;
  line-height: 1.5rem;
  padding: 0.75rem 1rem;
}

/* Fixed layout */
.fixed .main-header,
.fixed .main-sidebar {
    position: fixed;
}

.fixed .main-header {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {

}

.fixed.layout-boxed .wrapper {
    max-width: 100%;
}

/* Content */

.content-info {
    min-height: 30px;
    height: 100%;
    background: #2F333C;
    padding: 10px 5px 10px 5px;
    margin-right: auto;
    margin-left: auto;
}

/* General Links */
a {
  color: #3c8dbc;
  transition: all .3s ease-in 0s;
}

.btn-link {
  color: #3c8dbc;
}

.box a[data-toggle='modal'] {
  color: #3c8dbc;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}

/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

.page-header > small {
    color: #667;
    display: block;
    margin-top: 5px;
}

/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}

.main-header .logo {
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.main-header .logo .logo-lg {
    display: block;
}

.logo-lg {
    font-size: 35px;
}

.navbar-toggle {
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 15px;
}

@media (max-width: 767px) {
    .main-header {
        position: relative;
    }

    .main-header .logo {
        width: 100%;
        float: none;
    }
}

@media (max-width: 991px) {
    .navbar-collapse.pull-left {
        float: none !important;
    }

    .navbar-collapse.pull-left + .navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px;
    }
}

/*
 * Component: Dropdown menus
 * -------------------------
 */

/*Dropdowns in general*/
.dropdown-menu {
  border-color: black;
  background-color: #353939;
  color: #eee;
  font-size: 0.875rem;
}

.dropdown-item + .dropdown-menu {
  display: block;
  opacity: 0;
  transition: opacity .3s 1s;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  transition: opacity .3s .1s;
}

.dropdown-menu .dropdown-menu {
  max-height: 75vh;
  overflow: auto;
  top: 0;
  transform: translateX(-100%);
}

.dropdown-item {
  padding: .25rem 0.75rem;
}

.dropdown-item::before {
  -webkit-font-smoothing: antialiased;

  content: '';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 0.5rem;
  opacity: 0;
  width: 1rem;
  text-align: center;
}

.dropdown-item.checked::before {
  content: '\f00c';
  opacity: 1;
}

.dropdown-menu .dropdown-item.sub-menu::before {
  content: '\f0d9';
  opacity: 1;
}

.dropdown-menu input[type=radio] {
  margin-right: 0.25rem;
  margin-left: -0.75rem;
  vertical-align: text-top;
}

.dropdown-menu a:not([href]):not([tabindex]):focus,
.dropdown-menu a:not([href]):not([tabindex]):hover {
  color: initial;
}

.dropdown-menu .dropdown-item {
  color: #eee;
  cursor: default;
}

.dropdown-menu .dropdown-item.disabled {
  background-color: transparent !important;
  color: #888 !important;
  cursor: not-allowed;
}

.dropdown-menu .dropdown-item:hover {
  color: #333;
}

.dropdown-menu .dropdown-divider {
  border-top-color: #888;
}

.training.status-empty {
  color: white;
}

.training.status-error {
  color: var(--DANGER);
}

.training.status-completed {
  color:  var(--SUCCESS);
}

.training.status-training {
  color:  var(--WARNING);
}

/*
 * Component: Form
 * ---------------
 */

.tokenfield.focus,
.form-control:focus {
  -webkit-box-shadow: none;

  box-shadow: none;
  color: #fff;
  outline: 0;
}

.help-block {
  font-size: smaller;
}

.form-control::placeholder {
  color: #999;
}

.form-control {
  background-color: #515151;
  border-radius: 0;
  border: none;
  color: #ADADAD;
  font-size: 0.875rem;
  min-height: 2.25rem;
}

.form-control:focus {
  color: white;
  background-color: #515151;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.text-muted {
  color: #737373 !important;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;charset=utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-4, 0)" fill="LightGray"><polygon points="8 0 12 7 4 7"></polygon><polygon transform="translate(8, 12.5) scale(1, -1) translate(-8, -12.5)" points="8 9 12 16 4 16"></polygon></g></svg>');
  padding: .5em;
  padding-right: 1.5em;
  height: 2.25rem !important;
}

/* Fix Firefox rendering #3679 */
.form-control[type=file] {
  font-size: 0.8rem;
  height: auto;
  min-height: 2rem;
}

.form-control[readonly] {
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #444;
}

.form-group.has-success label {
    color: #00a65a;
}

.form-group.has-success .form-control {
    border-color: #00a65a;
    box-shadow: none;
}

.form-group.has-warning label {
    color: #f39c12;
}

.form-group.has-warning .form-control {
    border-color: #f39c12;
    box-shadow: none;
}

.form-group.has-error label {
    color: #dd4b39;
}

.form-group.has-error .form-control {
    border-color: #dd4b39;
    box-shadow: none;
}

.form-group.has-info label {
    color: #00c0ef;
}

.form-group.has-info .form-control {
    border-color: #1c2529;
    box-shadow: none;
}

/* Input group */
.input-group .input-group-addon {
    border-radius: 0;
    color: grey;
    border-color: #515151;
    background-color: #353939;
}

/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
    border-radius: 0;
}

.icheck > label {
    padding-left: 0;
}

/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
    line-height: 34px;
}

.input-lg + .form-control-feedback.fa,
.input-group-lg + .form-control-feedback.fa,
.form-group-lg .form-control + .form-control-feedback.fa {
    line-height: 46px;
}

.input-sm + .form-control-feedback.fa,
.input-group-sm + .form-control-feedback.fa,
.form-group-sm .form-control + .form-control-feedback.fa {
    line-height: 30px;
}

/*
 * Component: Box
 * --------------
 */

.box-row {
  display: flex;
  margin: -0.5rem -0.5rem 0.5rem;
  min-height: 24rem;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .box-row {
    flex-direction: column;
  }

  .box-row .box {
    width: calc(100% - 1rem);
  }
}

.box-row .box {
  margin: 0.5rem;
  display: flex;
  flex: 1 1 0;
  height: 38vh;
  min-height: 22rem;
  /* Fix overflow issues https://css-tricks.com/flexbox-truncated-text/ */
  min-width: 24rem;
  flex-direction: column;
}

@media (max-width: 26rem) {
  .box-row .box {
    min-width: 16rem;
  }
}

.box-row .box-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 6.5rem);
  justify-content: center;
}

.box-row .box-body .content {
  height: 100%;
  width: 100%;
}

.box-row .box-footer {
  padding: 1rem 0.5rem;
}

.box-row .box-body .icon-image{
  background-color: #666;
  border-radius: 50%;
  color: #444444;
  font-size: 32px;
  line-height: 72px;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 72px;
}

.box-row .box-body p {
  margin-bottom: 1.5rem;
  text-align: center;
}

.box-row .box .box-footer{
  margin-top: auto;
}

.box .btn.single {
  bottom: 30%;
  display: block;
  left: 50%;
  margin-left: -6rem;
  margin: 0 auto;
  min-width: 12rem;
  position: absolute;
}

.box {
  position: relative;
  background: #232426;
  margin-bottom: 1rem;
}

.box.box-solid > .box-header .btn.btn-success:hover {
    background-color: #449d44;
}

.box.box-danger {
    border: 1px solid var(--DANGER);
}

.box.box-danger > .box-header {
    color: #ffffff;
}

.box.box-danger > .box-header a,
.box.box-danger > .box-header .btn {
    color: #ffffff;
}

.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}

.box-header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.box-footer .btn + .btn,
.box-header .btn + .btn {
  margin-left: 0.2rem;
}

.box-header.with-border {
  border-bottom: 1px solid #434343;
}

.box-header .box-title {
  color: #98A8BA;
  font-weight: bold;
  font-size: 18px;
  flex-grow: 1;
  max-width: calc(100% - 88px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1rem 0;
  line-height: 1.5rem;
}

.box-header > .fa {
  margin-right: 5px;
}

.box-body {
    padding: 1rem;
}

.box-footer {
  border-top: 1px solid #434343;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
}

.box-footer p {
  flex-grow: 1;
}

.box-footer .btn {
  margin: -0.4rem 0;
}

.box-footer .btn:only-child {
  margin-left: auto;
}

.chart-legend {
    margin: 10px 0;
}

@media (max-width: 991px) {
    .chart-legend > li {
        float: left;
        margin-right: 10px;
    }
}

/*
 * Component: Button
 * -----------------
 */
.btn {
  -webkit-box-shadow: none;

  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 0;
  border: 1px solid transparent;
  box-shadow: none;
  min-width: 5.5rem;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.1875rem 0.75rem;
  line-height: 1.5rem;
}

.btn-lg {
  font-size: 1.2rem;
}

/* Fix icon only buttons */
.btn.fa {
  min-width: auto;
}

/* Fix button groups buttons */
.btn-group .btn {
  min-width: auto;
}

.input-group-btn .btn {
  min-width: auto;
}

.btn.uppercase {
    text-transform: uppercase;
}

.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus {
    outline: none;
}

.btn.btn-file {
    position: relative;
    overflow: hidden;
}

.btn.btn-file > input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: #353939;
    cursor: inherit;
    display: block;
}

.btn-default {
    background-color: #333;
    color: #fff;
    border-color: #464747;
}

.btn:focus {
  box-shadow: none !important;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn.hover {
    color: #fff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.hover {
  background-color: #444;
  border-color: #464747;
}

.btn-primary {
  background-color: #263750;
  border-color: #464747;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #263750;
  border-color: #464747;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.hover {
  background-color: #367fa9;
  border-color: #464747;
}

.btn-success {
    background-color: #497549;
    border-color: #464747;
}

.btn-success:active,
.btn-success.hover {
    background-color: #678450;
    border-color: #57773D;
}

.btn-info {
    background-color: rgba(46, 87, 95, 0.87);
    border-color: #464747;
}

.btn-info.disabled,
.btn-info:disabled {
  background-color: rgba(46, 87, 95, 0.87);
  border-color: #464747;
}

.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    background-color: #3b8f88;
}

.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
    background-color: #d73925;
}

.btn-warning {
  background-color: #7d5528;
  border-color: #885f29;
  color: white;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    background-color: #b1670b;
}

.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn[class*='bg-']:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.btn-app {
    border-radius: 0px;
    position: relative;
    padding: 10px 5px;
    margin: 0 0 10px 10px;
    min-width: 110px;
    height: 50px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    font-size: 10px;
}

.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
    font-size: 16px;
    display: block;
}

.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}

.btn-app:active,
.btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.cell-square {
    border-radius: 0px;
    position: relative;
    padding: 5px 20px 5px 10px;
    margin: 3px 3px 3px 3px;
    min-width: 30px;
    max-width: 90px;
    height: 40px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 14px;
}

.cell-square:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}

.cell-square > .fa {
    position: absolute;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}

.cell-square:active,
.cell-square:focus {
    font-color: red;
}

/*
 * Component: Callout
 * ------------------
 */
.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.callout a {
    color: #fff;
    text-decoration: underline;
}

.callout a:hover {
    color: #eee;
}

.callout h4 {
    margin-top: 0;
    font-weight: 600;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout code,
.callout .highlight {
    background-color: #fff;
}

.callout.callout-danger {
    border-color: #c23321;
}

.callout.callout-warning {
    border-color: #c87f0a;
}

.callout.callout-info {
    border-color: #0097bc;
}

.callout.callout-success {
    border-color: #00733e;
}

/*
 * Component: Nav
 * --------------
 */
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    color: #444;
    background: #f7f7f7;
}

/* PAGINATION */
.pagination > li > a {
    background: #fafafa;
    color: #666;
}

.pagination.pagination-flat > li > a {
    border-radius: 0 !important;
}

/*
 * Component: Direct Chat
 * ----------------------
 */

.direct-chat .box-body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    padding: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.sidebar-header .settings {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  line-height: 2rem;
  position: absolute;
  top: 0.5rem;
  padding: 0;
  right: 1rem;
  width: 1.5rem;
}

.sidebar-header {
  background-color: #1e282c;
  color: #d2d6de;
  position: relative;
}

.sidebar-footer .btn{
  margin: 0.75rem auto;
}

.sidebar-header h2 {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.direct-chat-dictate {
  height: 2.25rem;
  width: 2.25rem;
}

.direct-chat-messages {
  background-color: #444;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 1rem;
  padding: 0.5rem;
  height: 15rem;
  overflow: auto;
}

.direct-chat-msg .slug {
  color: #222;
  display: inline-block;
  position: relative;
  margin-left: 0.5rem;
}

.direct-chat-msg .slug::before {
  color: white;
  position: absolute;
  vertical-align: top;
}

.direct-chat-msg .slug.score-1::before {
  content: '■'
}

.direct-chat-msg .slug.score-2::before {
  content: '■■'
}

.direct-chat-msg .slug.score-3::before {
  content: '■■■'
}

.direct-chat-msg .slug.score-4::before {
  content: '■■■■'
}

.direct-chat-msg .slug.score-5::before {
  content: '■■■■■'
}

.direct-chat-msg .slug.score-6::before {
  content: '■■■■■■'
}

.direct-chat-msg .slug.score-7::before {
  content: '■■■■■■■'
}

.direct-chat-msg .slug.score-8::before {
  content: '■■■■■■■■'
}

.direct-chat-msg .slug.score-9::before {
  content: '■■■■■■■■■'
}

.direct-chat-msg .slug.score-10::before {
  content: '■■■■■■■■■■'
}

.direct-chat-input {
  margin: 1rem;
}

.direct-chat-msg,
.direct-chat-text {
    word-wrap: break-word;
}

.direct-chat-msg {
  margin-bottom: 0.5rem;
}

.direct-chat-messages {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.direct-chat-text {
  background-color: var(--HUTOMA-GREY-500);
  border-radius: 1rem;
  color: white;
  margin: 0.5rem 0;
  max-width: 75%;
  padding: 0.25rem 0.75rem;
  position: relative;
}

.direct-chat-meta {
  display: flex;
  font-size: 0.75rem;
}

.user .direct-chat-text.chat-normal {
  background-color: var(--HUTOMA-BLUE-500);
}

.user .direct-chat-meta {
  flex-direction: row-reverse;
}

.user .direct-chat-text {
  float: right;
}

.direct-chat-name {
  flex-shrink: 1;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.direct-chat-timestamp {
  color: #999;
  margin: 0 0.5rem;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-delay: 1s;
  transition: opacity 400ms ease-in;
  white-space: nowrap;
}

.direct-chat-msg:hover .direct-chat-timestamp {
  opacity: 1;
  transition-delay: 0s;
}

.direct-chat-dictate {
  background-color: #333;
  color: #eee;
}

.direct-chat-dictate {
  min-width: auto;
}

.direct-chat-dictate.record {
  background-color: var(--HUTOMA-RED-500);
}

.direct-chat-dictate:hover,
.direct-chat-dictate:focus {
  color: #eee;
}

.direct-chat-dictate[disabled] {
  color: #888;
  cursor: not-allowed;
}

.chat-warning{
    background-color: var(--HUTOMA-YELLOW-500);
}

.chat-success{
    background-color: var(--SUCCESS);
}

.chat-error{
    background-color: var(--HUTOMA-RED-500);
}

.logs {
  display: flex;
  flex-direction: column;
}

.logs.open {
  flex: 3;
  height: auto;
}

.logs .sidebar-footer {
  height: 0;
}

.logs .output {
  background-color: #333;
  height: 8rem;
  display: none;
  margin: 0 1rem;
}

.logs.open .output{
  flex-grow: 2;
  display: block;
}

.logs.open .sidebar-footer {
  height: auto;
}

/*
 * Component: modal
 * ----------------
 */
.modal {
    background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  color: #ffffff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border-radius: 0;
  border: transparent solid 1px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  display: block;
}

.modal-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin: 0.5rem 0;
  max-width: calc(100% - 64px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #98A8BA;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    }
}

.modal-header {
    border-bottom-color: #202020;
}

.modal-footer {
    border-top-color: #202020;
}

.modal-primary .modal-content {
    border-color: var(--HUTOMA-BLUE-500);
}

.modal-warning .modal-content {
    border-color: var(--WARNING);
}

.modal-info .modal-content {
    border-color: var(--INFO);
}

.modal-success .modal-content {
    border-color: var(--SUCCESS);
}

.modal-danger .modal-content {
    border-color: var(--DANGER);
}

/*
 * Page: Login & Register
 * ----------------------
 */

.login-box,
.register-box {
    width: 100%;
    margin: 7% auto;
}

.register-box {
  max-width: 640px;
  width: 100%;
}

.login-box {
  width: 320px;
}

@media (max-width: 768px) {
    .login-box,
    .register-box {
      margin: 72px auto;
    }
}

.login-box-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #a0a0a0;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777;
}

.login-box-msg,
.register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

/*
 * General: Miscellaneous
 * ----------------------
 */
.pad {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-r-5 {
    margin-right: 5px;
}

.inline {
    display: inline;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.description-block.margin-bottom {
    margin-bottom: 25px;
}

.description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}

.description-block > .description-text {
    text-transform: uppercase;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.alert-base,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    color: #ADADAD;
}

.badge {
  padding: .2em .6em .3em;
}

.badge-danger,
.badge-info,
.badge-warning,
.badge-primary,
.badge-success {
  color: #dcdcdc;
}

.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}

.bg-gray-light {
    background-color: #f7f7f7;
}

.bg-black {
    background-color: #111111 !important;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.badge-danger {
    background-color: #dd4b39 !important;
    color: #fff;

}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.badge-warning {
    background-color: #2F333C !important;
    color: #fff;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.badge-info {
    background-color: #2F333C !important;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.badge-warning {
    background-color: #9c661a !important;
}

.bg-light-blue,
.badge-primary {
    background-color: #3c8dbc !important;
}

.alert-primary {
    background-color: #3c8dbc !important;
    color: #ededed;
}

.alert-base {
    background-color: #424242 !important;
}

.label-ghost {
    background-color: rgba(0, 0, 0, 0) !important;
}

.bg-green,
.callout.callout-success,
.alert-success,
.label-success {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #605ca8 !important;
}

.bg-maroon {
    background-color: #d81b60 !important;
}

.bg-white {
    background-color: #2E3032 !important;
}

.bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important;
}

.bg-gray-ultralight {
    background-color: #f9f9f9 !important;
}

.bg-black-active {
    background-color: #000000 !important;
}

.bg-red-active {
    background-color: #d33724 !important;
}

.bg-yellow-active {
    background-color: #db8b0b !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-aqua-active {
    background-color: #00a7d0 !important;
}

.bg-blue-active {
    background-color: #005384 !important;
}

.bg-light-blue-active {
    background-color: #357ca5 !important;
}

.bg-green-active {
    background-color: #008d4c !important;
}

.bg-navy-active {
    background-color: #001a35 !important;
}

.bg-teal-active {
    background-color: #30bbbb !important;
}

.bg-olive-active {
    background-color: #368763 !important;
}

.bg-lime-active {
    background-color: #00e765 !important;
}

.bg-orange-active {
    background-color: #ff7701 !important;
}

.bg-fuchsia-active {
    background-color: #db0ead !important;
}

.bg-purple-active {
    background-color: #555299 !important;
}

.bg-maroon-active {
    background-color: #ca195a !important;
}

[class^="bg-"].disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.text-white {
    color: white !important;
}

.text-red {
    color: #dd4b39 !important;
}

.text-coral {
    color: #FFC4C1 !important;
}

.text-yellow {
    color: #f39c12 !important;
}

.text-light-yellow {
    color: #e5e500 !important;
}

.text-aqua {
    color: #00c0ef !important;
}

.text-blue {
    color: #0073b7 !important;
}

.text-black {
    color: #111111 !important;
}

.text-light-blue {
    color: #3c8dbc !important;
}

.text-ultralight-blue {
    color: #C2DFFF !important;
}

.text-green {
    color: #00a65a !important;
}

.text-gray {
    color: #d2d6de !important;
}

.text-ultragray {
    color: #f6f6f6 !important;
}

.text-darkgray {
    color: #676b74 !important;
}

.text-navy {
    color: #001f3f !important;
}

.text-teal {
    color: #39cccc !important;
}

.text-olive {
    color: #3d9970 !important;
}

.text-lime {
    color: #01ff70 !important;
}

.text-orange {
    color: #ff851b !important;
}

.text-fuchsia {
    color: #f012be !important;
}

.text-purple {
    color: #605ca8 !important;
}

.text-maroon {
    color: #d81b60 !important;
}

.text-darkgray:hover,
.text-darkgray:focus {
    color: #d2d6de !important;
}

.link-muted {
    color: #7a869d;
}

.link-muted:hover,
.link-muted:focus {
    color: #606c84;
}

.link-black {
    color: #666;
}

.link-black:hover,
.link-black:focus {
    color: #999;
}

.hide {
    display: none !important;
}

.no-border {
    border: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-shadow {
    box-shadow: none !important;
}

.list-unstyled,
.chart-legend,
.contacts-list,
.users-list,
.mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group-unbordered > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.flat {
    border-radius: 0 !important;
}

.text-bold,
.text-bold.table td,
.text-bold.table th {
    font-weight: 700;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 18px;
    color: #EAEAEA;
}

.text-bg {
    font-size: 22px;
}

.tooltip {
  font-size: 0.75rem;
  font-weight: bold;
}

.description-block .description-icon {
    font-size: 16px;
}

.no-pad-top {
    padding-top: 0;
}

.position-static {
    position: static !important;
}

.list-header {
    font-size: 15px;
    padding: 10px 4px;
    font-weight: bold;
    color: #666;
}

.list-seperator {
    height: 1px;
    background: #f4f4f4;
    margin: 15px 0 9px 0;
}

.list-link > a {
    padding: 4px;
    color: #777;
}

.list-link > a:hover {
    color: #222;
}

.font-light {
    font-weight: 300;
}

.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
    float: left;
}

.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
    width: 30px !important;
    height: 30px !important;
}

.img-sm + .img-push {
    margin-left: 40px;
}

.img-md {
    width: 60px;
    height: 60px;
}

.img-md + .img-push {
    margin-left: 70px;
}

.img-lg {
    width: 100px;
    height: 100px;
}

.img-lg + .img-push {
    margin-left: 110px;
}

.img-bordered {
    border: 3px solid #d2d6de;
    padding: 3px;
}

.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
}

.attachment-block {
    border: 1px solid #f4f4f4;
    padding: 5px;
    margin-bottom: 10px;
    background: #f7f7f7;
}

.attachment-block .attachment-img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
}

.attachment-block .attachment-pushed {
    margin-left: 110px;
}

.attachment-block .attachment-heading {
    margin: 0;
}

.attachment-block .attachment-text {
    color: #555;
}

.connectedSortable {
    min-height: 100px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
}

.full-opacity-hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.full-opacity-hover:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chart svg,
.chart canvas {
    width: 100% !important;
}

.input-group-text {
  border-radius: 0;
  color: grey;
  border-color: #515151;
  background-color: #353939;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.form-group input[type="checkbox"] {
    /*display: none;*/
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    /*display: none;*/
}

.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    /*display: none;*/
}

.info-circle {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-bottom: 15px;
}

.info-circle small {
    font-size: 14px;
}

.info-circle-icon {
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
    display: block;
    margin: auto;
    margin-top: 30px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 55px;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.2);
}

.info-circle-icon-small {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    margin-left: 20px;
    margin-top: 15px;
    height: 60px;
    width: 60px;

    font-size: 30px;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.2);
}

.turn-off {
    background: #f9f9f9;
    color: #ffffff;
}

.info-circle-icon > img {
    max-width: 100%;
}

.info-circle-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.container-fluid > .sidebar {
    position: absolute;
    right: 20px;
    top: 0;
    width: 220px;
}

.container-fluid > .content {
    margin-right: 240px;
}

/** botton select **/

.btn-select {
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: 0;
    border-color: #404446;
    background-color: #404446;
}

.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    color: lightgray;
    top: 0;
}

.btn-select ul {
    display: none;
    background-color: #313131;
    color: gray;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #434343;
}

.btn-select ul li.selected {
    color: white;
}

/* Primary Start */
.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
    border-color: #585858;
}

.btn-select.btn-primary ul li.selected {
    background-color: #2e6da4;
    color: white;
}

.btn-select.btn-primary ul {
    border: #535353 1px solid;
}

.btn-select.btn-primary .btn-select-value {
    background-color: #434343;
    border: #535353 1px solid;
}

.btn-select.btn-primary:hover, .btn-select.btn-primary.active {
    background-color: #535353;
    color: white;
}

/* Primary End */

.btn-select.btn-select-light .btn-select-value {
    background-color: #404446;
    color: gray;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.input-group .input-prefix-text {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    width: 1%;
    white-space: nowrap;
    color: #98A8BA;
    font-size: 18px;
    border-style: none;
    background: #232426;
}

.input-group .input-postfix-button {
    display: table-cell;
    vertical-align: middle;
}

.input-text-limited {
    width: 63%;
    background: #232426;
    resize: none;
    border-style: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow:hidden;
    outline: none;
    box-shadow: none !important;
    font-size: 16px;
    font-weight: bold;
    padding-top:5px;
}

.item-row {
    background-color: #404446;
    border: 1px solid #202020;
    margin: -1px 0 0 0;
}

/* layout.css Style */
.upload-drop-zone {
    min-height: 165px;
    max-height: 165px;
    min-width: 190px;
    max-width: 190px;
    border-width: 2px;
    padding: 10px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.drag-icon {
    max-width: 210px;
    min-width: 210px;
    max-height: 185px;
    min-height: 185px;
    text-align: center;
    font-size: 65px;
    background: #515181;
    margin: auto;
}

.drag-area {
    min-height: 305px;
    max-height: 305px;
    min-width: 305px;
    max-width: 305px;
    text-align: center;
    font-size: 65px;
    background: #515181;
    margin: auto;
}

.drag-area img {
    max-width: 100%;
}

.drop-zone {
    min-width: 210px;
    max-width: 210px;
    margin: 0px;
    padding: 0px;
}

.drop-zone1 {
    min-width: 460px;
    width: auto;
    padding: 0px 0px 0px 235px;
    margin: 0px;
}

.drop-zone2 {
    min-width: 210px;
    max-width: 210px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.drop-zone-460 {
    min-height: 130px;
    max-height: 230px;
    min-width: 460px;
    width: auto;
    padding: 0px 0px 0px 235px;
    margin: 0px;
}

.drop-zone-580 {
    min-width: 550px;
}

.textarea-justify {
    resize: none;
    text-align: justify;
    white-space: pre-line;
    -moz-text-align-last: left;
    text-align-last: left;
}

.cropit-preview {
    min-height: 205px;
    max-height: 205px;
    min-width: 205px;
    max-width: 205px;
    text-align: center;
    font-size: 65px;
    background: #515181;
    margin: auto;
}

.cropit-preview-image-container {
    cursor: move;
}

/* ========== BOT LIST ============*/

.category-title {
  font-size: 18px;
  height: 45px;
  min-width: 180px;
  color: lightgray;
  padding: 1rem 0 1rem;
}

.box-card-row {
  display: flex;
  flex-wrap: wrap;
  margin: -2.5rem -0.5rem 3rem;
  overflow: hidden;
  padding-top: 2rem;
  position: relative;
}

.category-list .box-card-row {
  display: inline-block;
  max-height: 19rem;
}

.category-list .box-card {
  float: left;
}

.category-list-see-more {
  height: 45px;
  position:absolute;
  right: 0.5rem;
  top: 0;
}

/* ========== BOT CARD ============*/
.box-card {
  background-color: white;
  border: 1px solid #626262;
  width: 11rem;
  height: 16rem;
  margin: 0.5rem;
  position: relative;
}

.card-icon {
  background-color: #ECEFF1;
  background-image: url('../images/empty_icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 10rem;
  margin: auto;
  width: calc(11rem - 2px);
}

.card-icon > img {
    max-width: 100%;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    color: #000000; !important;
    padding-top: 10px;
    margin:0 3px 0 3px;
    white-space: nowrap ;
    overflow: hidden;
    cursor: pointer;
    text-overflow: clip;
}

.card-title:after {
    top:160px;
    left:0;
    height:20px;
    line-width: 168px;
    background-image: linear-gradient( to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%);
    position: absolute;
    content: '';
}

.card-title > p{
    font-size: 15px;
    font-weight: bold;
    color: #000000; !important;
}

.card-author {
    font-size: 10px;
    text-align: center;
    color: #626262; !important;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: clip;
}

.card-author:after {
    top:180px;
    left:0;
    height:15px;
    width:100%;
    background-image: linear-gradient( to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%);
    position: absolute;
    content: '';
}

.card-author > p{
    font-size: 10px;
    color: #626262; !important;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: clip;
}

.box-card-footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.box-card-footer.flat {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.card-star {
    font-size: 12px;
    height: 25px;
    text-align: center;
    padding:8px 0px 0px 10px;
    color: #a2a2a2; !important;
}

.card-users {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #a2a2a2; !important;
    bottom:5px;
    margin:15px 0 0 5px;
}

.card-price {
  width: 40px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  color: #ffffff; !important;
  background: #7cc841;
  margin-right:10px;
  letter-spacing: -1px;
  cursor: pointer;
}

.card-purchased {
  line-width: 80px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  color: gray; !important;
  padding:2px 10px 0 0;
}

.card-testBotLink {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top:3px;
  color: #007bb6; !important;
  cursor: pointer;
}

.card-description {
  font-size: 14px;
  text-align: center;
  color: #d2d6de !important;
  margin: 0 0 5px 0;
}

.card-description:read-only {
  background-color: #232426;
}

.card-link {
  font-size: 14px;
  text-align: center;
  color: #3c8dbc !important;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

/*  BOTSTORE DETAILS CARD  */

.bot-box {
    min-width: 720px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.bot-card {
    padding: 10px 10px 0px 10px;
    overflow: hidden;
    background-color: #232426;
}

.bot-card-alert {
    max-width: 720px;
    margin: auto;
    padding-top:50px;
}

.bot-card-area {
    overflow: hidden;
    height: 185px;
}

.bot-card-icon {
    max-width: 210px;
    min-width: 210px;
    max-height: 185px;
    min-height: 185px;
    margin: 0px;
    padding: 0px;
}

.bot-card-icon.left {
    float: left;
    overflow: hidden;
}

.drag-over-opacity {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #FFF;
    opacity: 0.3;
}

.bot-padding {
    padding: 0px 0px 20px 0px;
}

.bot-default-style {
    background: #232426;
    color: #ADADAD;
    resize: none;
    outline: none;
    border-style: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.bot-info {
    min-width: 320px;
    max-height: 205px;
    min-height: 205px;
    padding: 0px 0px 0px 10px;
}

.bot-title {
    font-size: 20px;
    color:white;
    padding: 0px 0px 0px 10px;
}

.bot-description {
    text-align: left;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

.bot-close-button {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    padding: 10px 10px 0px 0px;
}

.bot-badge {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    padding: 0px 0px 0px 10px;
}

.bot-description-limited {
    width: 100%;
    text-align: left;
    overflow:hidden;
    color: #dddddd;
}

.bot-msg {
    text-align: justify;
    font-size: 12px;
    height: 25px;
    padding: 10px 0px 0px 10px;
}

.bot-alert-msg {
    text-align: justify;
    font-size: 12px;
    height: 60px;
    padding: 10px 10px 0px 10px;
    display: none;
}

.bot-other {
    height: 40px;
}

.bot-star {
    padding: 0px 0px 0px 20px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

.bot-licence {
    padding: 0px 0px 0px 10px;
    font-size: 12px;
}

.bot-price {
    font-weight: bold;
    font-size: 16px;
    height: 20px;
    padding: 0px 0px 0px 10px;
}

.bot-button {
    height: 42px;
    padding: 8px 0px 0px 0px;
}

.bot-video {
    margin-left: auto;
    margin-right: auto;
    backgroud: #212121;
    max-width: 800px;
    display: block;
    padding: 0px 10px 0px 10px;
}

.bot-detail {
    text-align: justify;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bot-h2 {
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0px;
}

.bot-more-details {
    padding-top: 20px;
    font-weight: bold;
    text-align: left;
}

.bot-buy {
    padding: 5px 0px 0px 400px;
    height: 40px;
}

.bot-buy-title {
    padding: 10px 10px 0px 0px;
    text-align: left;
    font-size: 18px;
}

.bot-buy-details {
    padding: 10px 0px 10px 40px;
}

.bot-buy-alert {
    padding: 20px 0px 10px 0px;
}

.bot-buy-licence {
    padding: 0px 0px 0px 00px;
    font-size: 12px;
}

.bot-buy-price {
    padding: 0px 25px 0px 10px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

.bot-buy-purchase {
    height: 40px;
    padding: 10px 13px 0px 10px;
    font-weight: bold;
}

.bot-payment {
    padding: 0 0 0 0;
    min-height: 160px;
    min-width: 400px;
    background-color: #232426;
}

.bot-trasparent {
    background-color: transparent;
}

.bot-shadow {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
}

.bot-shadow-light {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

.bot-icon-payment {
    text-align: center;
    font-size: 85px;
    line-height: 100px;
    margin-left: 180px;
    background-color: #111111;
}

.bot-absolute {
    display: inline-block;
    float: left;
    position: relative;
    margin-left: 180px;
    margin-top: -30px;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.web-body {
  background: #d2d6de;
}

.web-body .messages {
  margin: 0 auto;
  max-width: 96rem;
  right: 0;
}

.web-footer {
  padding: 40px 0;
  background-color: black;
  bottom: 0;
  width: 100%;
  color: #fff;
  margin: 0 auto;
}

.web-footer .col-md-3 {
  margin-bottom: 24px;
}

.web-footer a:hover {
  color: #7dbfe2;
}

.web-footer h6 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.web-container {
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.web-container .text-muted {
    margin: 20px 0;
}

.web-copyright {
    color: #fff;
    margin-top: 60px;
}

@media (max-width: 480px) {

  .web-body .row {
    margin: 0;
  }

  .web-copyright {
    margin-top: 0;
  }

  .web-footer {
    height: auto;
    padding: 20px 0;
  }

  .web-footer .col-centered {
    display: none;
  }
}

.new-link {
  color: #3c8dbc;
  font-weight: bold;
}

.new-link:visited {
  color: #3c8dbc;
}

.new-link:hover,
.new-link:active,
.new-link:focus{
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

.navbar.bg-dark {
  background-color: black !important;
  justify-content: flex-start;
}

.navbar .navbar-collapse {
  flex-grow: initial;
  margin-left: auto;
}

.navbar .btn {
  background-color: transparent;
  border: none;
  color: inherit;
  min-width: auto;
}


.navbar .btn:hover {
  background-color: #333;
}

.navbar .btn:active {
  background-color: #444;
}

.navbar .toggle-chat {
  margin-left: auto;
}

@media (min-width: 1024px) {
  .navbar .toggle-navigation {
    display: none;
  }
}

@media (min-width: 1280px) {
  .navbar .toggle-chat {
    display: none;
  }
}
