/* =================================== */
/*  Basic Style
/* =================================== */

body {
    background-color: #fff;
    font-weight : lighter;
    line-height: 21px;
	  font-size: 13px;
    color: #6a737b;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0 auto;
    font-weight: normal;

}

a {
    color: #fff;
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: lighter;
	margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
   clear: both;
}

.clear {
   *zoom: 1;
}

span.color {
	color: #0feb9e;
}

body > section,
.footer {
	padding: 70px 0;
}

.sec-title {
   padding-bottom:30px;
}

.sec-title h2 {
  color: #3c8dbc;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
	margin: 35px 0 45px;
}

.sec-sub-title p {
	font-weight: 600;
	line-height: 24px;
	font-size: 18px;
	color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}

.new-link {
    color: #3c8dbc;
    font-weight: bold;
}

.new-link:visited {
    color: #3c8dbc;
}

.new-link:hover,
.new-link:active,
.new-link:focus{
    outline: none;
    text-decoration: none;
    color: #72afd2;
}

/*=========================================
	Header
==========================================*/

#navigation {
  background-color:black;
  border: 0 none;
  margin: 0;

    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}

.navbar-toggle i {
	color: #fff;
}

.navbar-brand {
  padding: 0;
}

.navbar-nav li a {
	border-top: 0px solid transparent;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	background-color: transparent;
	border-top: 0px solid #32B0EE;
	color: #fff;
}

.infodiv {
  text-align: justify;
  margin:0 auto;
  width:60%;
  font-size: 16px;
  color:gray;
  font-weight: normal;
}


.infoabout {
    text-align: justify;
    margin:0 auto;
    width:80%;
    font-size: 16px;
    color:gray;
    font-weight: normal;
}

/*=========================================
	Social link
==========================================*/

.social-links {
  margin-top: 5%;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #fff;
}

/*=========================================
	Section
==========================================*/
.web-section{
    background-color: #242424;
    color:white;
    font-weight: lighter;
    text-align: justify;
}

.proposition-section{
    background-color: black;
    color:white;
    font-weight :lighter;
    text-align: justify;
}


/*=========================================
	Features
==========================================*/

.feature-item {
  margin-left: 35px;
  margin-right: 35px;
  position: relative;
  top: 5px;
}

.feature-item h3 {
  color: #062033;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.feature-img {
    height:70px;
    position: relative;
    margin-bottom: 10px;
}

.feature-img > img{
    margin:auto;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    max-height:100%;
    max-width:100%;
}

.feature-title{
    border:none;
    color:white;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0;
}

.feature-text{
    text-align: justify;
    color:gray;
    font-weight: normal;
}


/*=========================================
	Value Proposition
==========================================*/

.proposition-item {
    margin-left: 55px;
    margin-right: 55px;
    position: relative;
    top: 5px;
    padding-bottom:20px;
}

.proposition-img {
    height:70px;
    position: relative;
    margin-bottom: 10px;
}

.proposition-img > img{
    margin:auto;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    max-height:100%;
    max-width:100%;
}

.proposition-title{
    border:none;
    color:white;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0;
}

.proposition-text{
    text-align: justify;
    color:gray;
    font-weight: normal;
}



/*=========================================
	Our Team Member
==========================================*/

.member-thumb {
  width: 273px;
  position: relative;
}

.member-thumb .overlay h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0;
}

.member-thumb .overlay {
	font-size: 16px;
	padding: 20px;
	line-height: 24px;
}

.team-member h4 {
  color: #062033;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 8px;
}

.member-thumb:hover .overlay {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.team-member:hover h4 {
  color: #0eb493;
}

.team-member .social-links {
  margin-top: 24%;
}

.team-member h4 {
    color: #062033;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0 8px;
}

.team-previous-job {
    margin: auto;
    align:center;
    text-align:center;
    height:35px;
    width:130px;"
}

.team-member .social-links li a {
  background-color: #0d7c67;
  color: #fff;
  height: 42px;
  padding: 10px 0 0;
  width: 42px;
}



/*=========================================
	glassy aspect
==========================================*/

#facts {
	background-image: url("../img/botstore.jpg");
	background-color: rgba(6,32,51,.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

.facts .devider:before,
.facts .devider:after {
	color: #737C85;
}

.facts .devider i {
	color: #fff;
}

.parallax-overlay {
	background-color: rgba(6,32,51,.8);
	padding: 70px 0;
}



/*=========================================
	Contact Us
==========================================*/

.contact {
	padding-bottom: 0;
}

.contact-address h3 {
  color: #062033;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-address p {
  line-height: 24px;
}

.contact-form {}

.contact-form h3 {
  color: #062033;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-form .input-group {
  width: 100%;
}

.contact-form .form-control {
  border-color: -moz-use-text-color -moz-use-text-color #cccccc;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin-bottom: 10px;
}

.contact-form .input-field {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.contact-form .input-field:last-child {
  margin-right: 0;
}

.contact-form .form-control.error {
border-bottom-color: #c0392b;
}

label.error {
  color: #c0392b;
  font-weight: normal;
  text-transform: capitalize;
}

.contact-form #form-submit {
  background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: right;
  width: 150px;
}

.footer-social {
  margin-top: 17px;
}

.footer-social li a {
  color: black;
  display: block;
  margin-bottom: 10px;
}

#map_canvas {
  height: 215px;
  width: 100%;
}



/*=========================================
	Contact Us
==========================================*/

.footer {
  background-color: black;
  border-top: 5px solid #062033;
  color: #fff;
  margin: 0 auto;
}


.info {
  background-color: #2C3E50;
  border-top: 5px solid #2c3e50;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.footer h6 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}

.subscribe #subscribe {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe #subs {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.footer-single {

}

.footer-single ul {
  }

.footer-single li {

}

.footer-single p i {
  margin: 0 2px;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: #fff;
  margin-top: 100px;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* centered columns styles */
.row-centered {
    text-align:center;
    vertical-align: top;
}
.col-centered {
    display:inline-block;
    float:none;
    vertical-align: top;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */

}


/*=========================================
	Switch Button
==========================================*/

.switch {
    width: 42px;
    height: 22px;
    background: #202020;
    z-index: 0;
    margin: auto;
    margin-bottom:5px;
    margin-top:5px;
    padding: 10px;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
}

.switchOff {
    width: 42px;
    height: 22px;
    background: #202020;
    z-index: 0;
    margin: auto;
    margin-bottom:5px;
    margin-top:5px;
    padding: 10px;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
}

.switch:before {
    content: ' ';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 40px;
    height: 20px;
    background: #353939;
    z-index: 1;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
}

.switch:after {
    content: ' ';
    height: 19px;
    width: 19px;
    border-radius: 28px;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-box-shadow: 0 2px 5px #999999;
    box-shadow: 0 2px 5px #999999;
}

.switchOn,.switchOn:before {
    background: #7cc841; !important;
}

.switchOn:after {
    left: 22px !important;
}

