/*
 * Component: alert
 * ----------------
 */

.messages {
  bottom: 0;
  padding: 0 1rem;
}

.alert {
  color: #fff;
  border: none;
  border-radius: 0;
}

.inline {
  align-items: baseline;
  display: flex;
}

.alert p {
  margin: 0;
}

.alert ul {
  list-style: disc;
  padding: 1.5rem 1rem 0;
}

.alert h4 {
  font-weight: 600;
}

.alert .icon {
  margin-right: 10px;
}

.alert .close {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.alert a:not(.btn) {
  color: #fff;
  text-decoration: underline !important;
}

.alert .btn {
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
}

.alert-success {
  border-color: var(--SUCCESS);
}

.alert-primary {
  border-color: #307095;
}

.alert-warning {
  border-color: var(--WARNING);
}

.alert-danger,
.alert-error {
  border-color: var(--DANGER);
}

.alert-info {
  border-color: var(--INFO);
}

.alert-base {
  border-color: #34383a;
}
