:root {
  /* Colors */
  --DANGER: #d73925;
  --WARNING: #FFC107;
  --SUCCESS: #00a65a;
  --INFO: #307095;

  --UI-800: #222;

  --HUTOMA-BLUE-100: #BBDEFB;
  --HUTOMA-BLUE-300: #64B5F6;
  --HUTOMA-BLUE-500: #42A5F5;
  --HUTOMA-BLUE-700: #1976D2;
  --HUTOMA-BLUE-900: #0D47A1;

  --HUTOMA-GREY-100: #ECEFF1;
  --HUTOMA-GREY-200: #CFD8DC;
  --HUTOMA-GREY-300: #B0BEC5;
  --HUTOMA-GREY-500: #78909C;
  --HUTOMA-GREY-600: #607D8B;
  --HUTOMA-GREY-600: #546E7A;
  --HUTOMA-GREY-800: #37474F;
  --HUTOMA-GREY-900: #263238;

  /* Typography */
  --HUTOMA-TITLE: Futura, 'Century Gothic', sans-serif;
  --HUTOMA-BODY: 'Helvetica Neue', Arial, sans-serif;

  /* Forms */
  --INPUT_BACKGROUND: #515151;
  --INPUT_COLOR: #ADADAD;
  --INPUT_BORDER_RADIUS: 4px;
}
