{% extends 'base.html' %}

{% load i18n %}
{% load i18n crispy_forms_tags static embed %}

{% block title %}{% trans 'Entities' %}{% endblock %}

{% block body.attributes %} class="skin-blue fixed sidebar-mini"{% endblock %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}

  <div class="content-wrapper">
    <section class="content">

      {% include 'entity.html' %}

    </section>
  </div>

{% endblock %}
