{% block row %}
<script>
  function deleteEntity(elem) {
    var prevCursor = document.body.style.cursor;
    document.body.style.cursor = "wait", msgAlertEntity(ALERT.WARNING.value, "Deleting..."), $.ajax({
        url: "./proxy/entityProxy.php?entity=" + entities[elem].entity_name,
        type: "DELETE",
        success: function(response) {
            var JSONdata = JSON.parse(response);
            switch (JSONdata.status.code) {
                case 200:
                    entities.splice(elem, 1), showEntities("");
                    break;
                default:
                    msgAlertEntity(ALERT.DANGER.value, JSONdata.status.info)
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            msgAlertEntity(ALERT.DANGER.value, "Something unexpected occurred - entity not deleted.")
        },
        complete: function() {
            document.body.style.cursor = prevCursor
        }
    })
}

function OnMouseIn(elem) {
    elem.children[0].children[1].style.display = ""
}

function OnMouseOut(elem) {
    elem.children[0].children[1].style.display = "none"
}
</script>
<div class="col-xs-12">
        <div class="box-body flat no-padding" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)">
            <div class="row item-row">
                <div class="col-xs-10 no-padding" id="obj-entity{{index}}">
                    {% if entity.is_system == False %}
                    <a href="{% url 'entityelement' %}">
                    {% endif %}
                    <input type="text" class="form-control flat no-shadow" id="entity-label{{index}}" name="entity-label"
                    {% if entity.is_system == False %}
                    onClick = "editEntity(this,this.value)" onMouseOver="this.style.cursor='pointer'"
                    {% endif %}
                    style=" background-color: #404446; " value="@{{entity.name}}" readonly>
                    {% if entity.is_system == False %}
                    </a>
                    {% endif %}
                </div>
                <div class="col-xs-2" id="btnEnt{{index}}"  style="display:none;margin-top:8px;" >
                    <div class="btn-group pull-right text-gray">
                        <a data-toggle="modal" data-target="#deleteEntity" id="{{index}}" style="cursor: pointer;">
                            <i class="fa fa-trash-o text-gray" data-toggle="tooltip" title="Delete"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
