{% extends 'entities_base.html' %}
{% load i18n %}
<div class="content-wrapper">
    <section class="content">
        <div id="entities_list" class="row">
            {{#entities}}
            <div class="col-xs-12">
                <div class="box-body flat no-padding" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)">
                    <div class="row item-row">
                        <div class="col-xs-10 no-padding" id="obj-entity{{index}}">
                            <input type="text" class="form-control flat no-shadow" id="entity-label{{index}}" name="entity-label">
                            <!--{{#is_system}}
                            #{{/is_system}}
                            #{{^is_system}}
                            #onClick = "editEntity(this,this.value)" onMouseOver="this.style.cursor='pointer'"
                            {{/is_system}}
                            style=" background-color: #404446; " value="@{{entity_name}}" readonly>-->
                        </div>
                        <div class="col-xs-2" id="btnEnt{{index}}"  style="display:none;margin-top:8px;" >
                            <div class="btn-group pull-right text-gray">
                                {{#is_system}}
                                {{/is_system}}
                                {{^is_system}}
                                <a data-toggle="modal" data-target="#deleteEntity" id="{{index}}" style="cursor: pointer;">
                                    <i class="fa fa-trash-o text-gray" data-toggle="tooltip" title="Delete"></i></a>
                                {{/is_system}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/entities}}
        </div>
    </section>
</div>

{% endblock %}
