{% load i18n static %}

<header id="navigation" class="navbar-fixed-top navbar" >

  <div class="web-container" style="font-weight: bold" >

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        <i class="fa fa-bars fa-2x"></i>
      </button>

      <a class="navbar-brand" href="/">
        <h1 style="padding: 5px; margin-left: 115px;" >
          <img src="{% static 'images/logo-white.png' %}" alt="hutoma logo" height="40">
        </h1>
      </a>
    </div>

    <nav style="padding: 5px;margin-right: 115px;" class="collapse navbar-collapse navbar-right" role="navigation">
      <ul id="nav" class="nav navbar-nav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">{% trans 'Change E-mail' %}</a></li>
          <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
        {% else %}
          <li><a href="https://www.hutoma.ai/index.html#features" class="external">{% trans 'Features' %}</a></li>
          <li><a href="https://www.hutoma.ai/about.php" class="external">{% trans 'About' %}</a></li>
          <li><a href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a></li>
          <li><a href="{% url 'account_login' %}">{% trans 'Login' %}</a></li>
        {% endif %}
      </ul>
    </nav>

  </div>

</header>
