{% load i18n %}

<tr role="row" class="ai-list">

  <td class="name-column" data-toggle="tooltip" title="{{ ai.name }}">
    <a href="{% url 'studio:edit_bot' ai.aiid %}">{{ ai.name }}</a>
  </td>

  <td class="description-column" data-toggle="tooltip" title="{{ ai.description }}">
    {{ ai.description }}
  </td>

  <td class="skills-column">
      <a href="{% url 'studio:skills' ai.aiid %} ">{{ ai.linked_bots|length }}</a>
  </td>

  <td class="status-column">
    {% if ai.ai_status == 'ai_training_complete' %}
      <span class="text-olive">{% trans 'Completed' %}</span>
    {% elif ai.ai_status == 'ai_undefined' or ai.ai_status == 'ai_ready_to_train' %}
      <span class="text-darkgray">{% trans 'Not Started' %}</span>
    {% elif ai.ai_status == 'ai_training_queued' %}
      <span class="text-gray">{% trans 'Queued' %}</span>
    {% elif ai.ai_status == 'ai_training' %}
      <span class="text-orange">{% trans 'In Progress' %}</span>
    {% elif ai.ai_status == 'ai_training_stopped' %}
      <span class="text-red">{% trans 'Stopped' %}</span>
    {% elif ai.ai_status == 'ai_error' %}
      <span class="text-red flat">{% trans 'Error' %}</span>
    {% endif %}
  </td>

  <td class="options-column">
    <!-- Split button -->
    <div class="btn-group">
      <a href="{% url 'studio:edit_bot' ai.aiid %}" class="btn btn-sm btn-primary">{% trans 'View Bot' %}</a>
      <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">{% trans 'Open bot options' %}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="{% url 'studio:training' ai.aiid %}" class="dropdown-item">{% trans 'Simple Q&A' %}</a>
        <a href="{% url 'studio:intents' ai.aiid %}" class="dropdown-item">{% trans 'Intents' %}</a>
        <a href="{% url 'studio:entities' ai.aiid %}" class="dropdown-item">{% trans 'Entities' %}</a>
        <a href="{% url 'studio:skills' ai.aiid %}" class="dropdown-item">{% trans 'Templates' %}</a>
        <a href="{% url 'studio:integrations' ai.aiid %}" class="dropdown-item">{% trans 'Integrations' %}</a>
        <a href="{% url 'studio:insights' ai.aiid %}" class="dropdown-item">{% trans 'Insights' %}</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'studio:ai.clone' ai.aiid %}" class="dropdown-item">{% trans 'Duplicate' %}</a>
        <a href="{% url 'studio:settings' ai.aiid %}" class="dropdown-item">{% trans 'Settings' %}</a>
      </div>
    </div>
  </td>
</tr>
