{% extends 'studio_base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Bot summary' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header">

        <h2 class="box-title">{{ ai.name }}</h2>

        {% if ai_details.intents|length or ai_details.training_file %}
          <a href="{% url 'studio:retrain' aiid %}" class="btn btn-default">{% trans 'Restart Training' %}</a>
        {% endif %}
        <a href="{% url 'studio:settings' ai.aiid %}" class="btn btn-primary">{% trans 'Settings' %}</a>
      </div>
    </div>

    <div class="box-row">

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Simple Q&A Bot' %}</h2>

          <a href="https://help.hutoma.ai/article/3x8gqu2dg5-uploading-simple-questions-answers"
            class="documentation link"
            target="_blank"
            data-toggle="tooltip"
            title="{% trans 'Documentation' %}">
              <i class="fa fa-question-circle"></i>
          </a>
        </div>

        <div class="box-body">
          {% if ai_details.training_file %}

            <pre class="content" style="overflow: auto; white-space: pre-wrap;">{{ ai_details.training_file }}</pre>

          {% else %}
            <i class="fa fa-comments icon-image"></i>
            <p>{% blocktrans %}Build a bot from text-based simple Q&A using the inline editor.{% endblocktrans %}</p>
          {% endif %}
        </div>

        <div class="box-footer">
          <a href="{% url 'studio:training' ai.aiid %}" class="btn btn-link">{% trans 'Edit' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Intents Builder' %}</h2>

          <a href="https://help.hutoma.ai/article/11n0g7gjv1-adding-simple-intents-mapping-questions-and-answers" class="documentation link" target="_blank"  data-toggle="tooltip" title="{% trans 'Documentation' %}">
            <i class="fa fa-question-circle"></i>
          </a>

        </div>

        <div class="box-body">

          {% if ai_details.intents %}
            <div class="elements content">
              {% for intent in ai_details.intents|slice:':5' %}
                <div class="element"><a href="{% url 'studio:intents.edit' ai.aiid intent %}" title="edit {{ intent }}">{{ intent }}</a></div>
              {% endfor %}
            </div>
          {% else %}
            <i class="fa fa-sitemap icon-image"></i>
            <p>{% blocktrans %}Want to structure your dialog, build more complex Q&A or connect to 3rd party services.{% endblocktrans %}</p>
          {% endif %}

        </div>

        <div class="box-footer">
          <a href="{% url 'studio:intents' ai.aiid %}" class="btn btn-link">{% trans 'Edit' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Templates' %}</h2>

          <a href="https://help.hutoma.ai/article/hrzb0pyldf-using-the-hutoma-bot-marketplace" class="documentation link" target="_blank"  data-toggle="tooltip" title="{% trans 'Documentation' %}">
            <i class="fa fa-question-circle"></i>
          </a>

        </div>

        <div class="box-body">

          {% if ai_details.skills %}
            <div class="elements content">
              {% for skill in ai_details.skills|slice:':5' %}
                <div class="element">{{ skill.name }}</div>
              {% endfor %}
            </div>
          {% else %}
            <i class="fa fa-plus icon-image"></i>
            <p>{% blocktrans %}Speed up your bot building process by starting with one of our Templates from the store.{% endblocktrans %}</p>
          {% endif %}

        </div>

        <div class="box-footer">
          <a href="{% url 'studio:skills' ai.aiid %}" class="btn btn-link">{% trans 'Edit' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

    </div>

  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/elements.css' %}">
{% endblock %}
