{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Add bot' %}{% endblock %}

{% block body.attributes %} class="skin-blue fixed sidebar-mini"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'navigation.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content">
      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><b>{% trans 'Basic Bot Settings' %}</b></div>
        </div>

        <div class="box-body">

          <form method="post" class="form-add" id="add_form">
            {% csrf_token %}

            {{ add_form | crispy }}

          </form>

        </div>

        <div class="box-footer">
            <a href="{% url 'studio:index' %}" style="width:100px" class="btn btn-primary flat" id="btnCancel"><b>{% trans 'Cancel' %}</b></a>
            <button style="min-width:100px" type="submit" form="add_form" class="btn btn-success flat pull-right"><b>{% trans 'Next' %}</b></button>
        </div>

      </div>

      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><b>{% trans 'Import a bot' %}</b></div>
        </div>

        <div class="box-body">

          <form method="post" class="form-import" enctype="multipart/form-data">
            {% csrf_token %}

            {{ import_form | crispy }}

            <div class="form-group">
              <button style="width:100px" type="submit" class="btn btn-success flat pull-right"><b>{% trans 'Import' %}</b></button>
            </div>

          </form>

        </div>

      </div>
    </section>
  </div>
{% endblock %}
