{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Create bot' %}{% endblock %}

{% block body.attributes %} class="fixed workspace"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'navigation.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="box box-solid box-clean flat no-shadow">
      <div class="box-header with-border">
        <div class="box-title">{% trans 'Create new bot' %}</div>
      </div>

      <div class="box-body">

        <form method="post" class="persistent form-add" id="add_form">
          {% csrf_token %}

          {{ add_form | crispy }}

        </form>

      </div>

      <div class="box-footer">
          <a href="{% url 'studio:index' %}" class="btn btn-primary flat">{% trans 'Cancel' %}</a>
          <button form="add_form" class="btn btn-success flat pull-right">{% trans 'Create' %}</button>
      </div>

    </div>

    <hr/>

    <div class="box box-solid box-clean flat no-shadow">
      <div class="box-header with-border">
        <div class="box-title">{% trans 'Import a bot' %}</div>
      </div>

      <div class="box-body">

        <form method="post" class="form-import" enctype="multipart/form-data">
          {% csrf_token %}

          {{ import_form | crispy }}

          <div class="form-group">
            <button type="submit" class="btn btn-success flat pull-right">{% trans 'Import' %}</button>
          </div>

        </form>

      </div>

    </div>

  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock %}


{% block javascripts %}
  <script src="{% static 'js/forms.js' %}"></script>
{% endblock javascripts %}
