{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans 'Summary' %}{% endblock %}

{% block body.attributes %} class="fixed workspace"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'navigation.html' with active='summary' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}

  <div class="content-wrapper">

    {% if not ais|length %}

      {% include 'welcome_video.html' %}

    {% endif %}

    {% include 'create_new_bot.html' %}

    {% if ais|length %}
      {% include 'ais.html' %}
    {% endif %}

  </div>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock %}

