{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Create bot wizard' %}{% endblock %}

{% block body.attributes %} class="fixed workspace"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'navigation.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="box">

      <div class="box-header">
        <h2 class="box-title">{% trans 'What type of bot you want to create?' %}</h2>
      </div>

    </div>

    <div class="box-row wizard">

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Simple Q&A Bot' %}</h2>

        </div>

        <div class="box-body">
          <i class="fa fa-comments icon-image"></i>
          <p>
            {% blocktrans %}Build a bot from text based simple Q&A using our in-line editor.{% endblocktrans %}
          </p>
        </div>

        <div class="box-footer">
          <a href="{% url 'studio:ai.add' %}?next=studio:training" class="btn btn-link">{% trans 'Create' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Intents Builder' %}</h2>

        </div>

        <div class="box-body">
          <i class="fa fa-sitemap icon-image"></i>
          <p>
            {% blocktrans %}Want to structure your dialog or build more complex Q&A.{% endblocktrans %}
          </p>
        </div>

        <div class="box-footer">
          <a href="{% url 'studio:ai.add' %}?next=studio:intents" class="btn btn-link">{% trans 'Create' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Build from a Template' %}</h2>

        </div>

        <div class="box-body">

          <i class="fa fa-plus icon-image"></i>
          <p>
            {% blocktrans %}Speed up your bot building process by starting with one of our templates.{% endblocktrans %}
          </p>

        </div>

        <div class="box-footer">
          <a href="{% url 'studio:ai.add' %}?next=studio:skills" class="btn btn-link">{% trans 'Create' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Import from a file' %}</h2>

        </div>

        <div class="box-body">

          <i class="fa fa-upload icon-image"></i>

          <p>
            {% blocktrans %}Start here if you want to edit an existing bot that you have exported from the platform.{% endblocktrans %}
          </p>


        </div>

        <div class="box-footer">
          <a href="{% url 'studio:ai.import' %}?next=studio:ai.dashboard" class="btn btn-link">{% trans 'Import' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

      <div class="box">
        <div class="box-header with-border">

          <h2 class="box-title">{% trans 'Build from scratch' %}</h2>

        </div>

        <div class="box-body">

          <i class="fa fa-cog icon-image"></i>

          <p>
            {% blocktrans %}Want full control and a blank canvas? Start here.{% endblocktrans %}
          </p>

        </div>

        <div class="box-footer">
          <a href="{% url 'studio:ai.add' %}" class="btn btn-link">{% trans 'Create' %} <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

    </div>

  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock %}
