{% load i18n %}

<div class="box">
  <div class="box-header with-border">
    <h2 class="box-title">
      {% trans 'Your Bots' %}
    </h2>
  </div>

  <div class="box-body no-border">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="name-column">
            {% trans 'Bot Name' %}
          </th>
          <th class="description-column">
            {% trans 'Description' %}
          </th>
          <th class="skills-column">
            {% trans '# Skills Linked' %}
          </th>
          <th class="status-column">
            {% trans 'Training Status' %}
          </th>
          <th class="options-column">
            <span class="sr-only">{% trans 'Options' %}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for ai in ais reversed %}
          {% include 'ai.html' with ai=ai %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
