{% load i18n %}

<div class="chat" id="CHAT">

  <script>
    const EMPTY_CHAT_MESSAGE = '{% trans "[Empty chat response]" %}';
  </script>

  <div class="sidebar-header">
    <h2>{% trans 'Chat' %}</h2>

    <button class="btn btn-default fa fa-refresh"
      action="{% url 'studio:proxy.context.reset' ai.aiid %}"
      data-toggle="tooltip"
      title="{% trans 'Reset all chat state for this session, including variables, intents and bot handover.' %}"
      id="CONTEXT_RESET_ACTION">
      <span class="sr-only">{% trans 'Reset chat' %}</span>
    </button>

    <button class="btn btn-default fa fa-ellipsis-v"
      action="{% url 'studio:proxy.context.reset' ai.aiid %}"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      <span class="sr-only">{% trans 'Toggle options' %}</span>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item disabled"
        data-toggle="tooltip"
        title="{% trans 'Will read bot responses' %}"
        id="SPEECH_TOGGLE_ACTION">{% trans 'Speech synthesis' %}</button>
      <button class="dropdown-item sub-menu disabled"
        data-toggle="tooltip"
        title="{% trans 'Select bot voice' %}"
        id="SPEECH_GETVOICES_ACTION">{% trans 'Voices' %}</button>
      <div class="dropdown-menu" id="VOICE_LIST"></div>
      <button class="dropdown-item"
        action="{% url 'studio:proxy.handover.reset' ai.aiid %}"
        data-toggle="tooltip"
        title="{% trans 'Handle back chat to bot instad of human agant' %}"
        id="HANDOVER_RESET_ACTION">{% trans 'Reset handover to human' %}</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item"
        data-toggle="tooltip"
        title="{% trans 'Removes the history and resets chat session' %}"
        id="HISTORY_CLEAR_ACTION">{% trans 'Clear history' %}</button>
    </div>
  </div>

  <div class="direct-chat-messages" id="CHAT_MESSAGES"></div>

  <div class="direct-chat-input">
    <div class="input-group">

      <input class="form-control"
        tabindex="-1"
        id="CHAT_INPUT"
        placeholder="{% trans 'Type a message…' %}">

      <div class="input-group-append">
        <button class="btn direct-chat-dictate"
          id="SPEECH_DICTATE_ACTION"
          disabled
          data-toggle="tooltip"
          title="{% trans 'Click to record' %}" >
          <i class="fa fa-microphone" id="CHAT_MICROPHONE"></i>
        </button>
      </div>

    </div>
  </div>

</div>
