{% load i18n %}

<div class="chat">

  <div class="sidebar-header">
    <h2>{% trans 'Chat' %}</h2>

    <button class="btn btn-default fa fa-ellipsis-v text-gray dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      <span class="sr-only">{% trans 'Toggle options' %}</span>
    </button>

    <div class="dropdown-menu">
      <a class="dropdown-item"
        id="action.speech:toggle">{% trans 'Voiceover' %}</a>
      <a class="dropdown-item"
        data-toggle="tooltip"
        title="{% trans 'Removes the history and resets chat session' %}"
        id="action.history:clear">{% trans 'Clear history' %}</a>
    </div>
  </div>

  <div class="direct-chat-messages" id="messages"></div>

  <div class="direct-chat-input" id="chat-footer">
    <div class="input-group">

      <input class="form-control"
        tabindex="-1"
        id="message"
        placeholder="{% trans 'Type a message…' %}"
        onkeydown="keyboardChat(event)">

      <div class="input-group-append">
        <button class="btn direct-chat-dictate"
          id="action.speech:dictate"
          data-toggle="tooltip"
          title="{% trans 'Click to record' %}" >
          <i class="fa fa-microphone" id="microphone"></i>
        </button>
      </div>

    </div>
  </div>

</div>
