{% load i18n %}

<div class="box">

  <div class="box-header with-border">

    <h2 class="box-title">
      {% blocktrans %}Welcome to Hu:toma AI - make your knowledge conversational{% endblocktrans %}
    </h2>

    <a href="https://help.hutoma.ai/article/wlcnf354z1-creating-a-bot"
      class="documentation link"
      target="_blank"
      data-toggle="tooltip"
      title="{% trans 'Documentation' %}">
        <i class="fa fa-question-circle"></i>
    </a>

  </div>

  <div class='box-body'>

    <p>
      {% blocktrans %}Thanks for your support! We're in beta, so your feedback
      and patience would be incredibly helpful.{% endblocktrans %}
    </p>

    <div class="text-center" style="margin: 2rem 0 1rem">
      <a href="{% url 'studio:ai.wizard' %}" class="btn btn-success btn-lg">{% trans 'Create New Bot' %} <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  </div>

  <div class="box-footer">

    <p>
      {% blocktrans %}If you’re stuck check out our <a data-toggle="modal" data-target="#CREATE_BOT_VIDEO_TUTORIAL">video tutorial</a>,
      join our <a href="https://hutomadotai.slack.com" target="_blank">Slack community</a>,
      or ask any questions you have in the chat window in the bottom right.{% endblocktrans %}
    </p>

  </div>

</div>

{% trans 'Create bot video tutorial' as title %}
{% include 'modals/video_tutorial.html' with id='CREATE_BOT_VIDEO_TUTORIAL' title=title slug='uFj73npjhbk' %}
