{% extends 'studio_base.html' %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Bot entities' %} {{ entity_name }}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='entities' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header with-border">

        <h2 class="box-title"><i class="fa fa-tag text-yellow"></i>
          {% if entity_name %}
            {% trans 'Edit' %} {{ entity_name }}
          {% else %}
            {% trans 'Create Entity' %}
          {% endif %}
        </h2>

        <a href="https://help.hutoma.ai/article/xc5zkhbg3a-adding-entities"
          class="documentation link"
          target="_blank"
          data-toggle="tooltip"
          title="{% trans 'Documentation' %}">
            <i class="fa fa-question-circle"></i>
        </a>

      </div>

      <div class="box-body">

        <div class="alert alert-info">
          {% blocktrans %}Entities are objects that might be required to fulfill
          an Intent. Imagine you are creating a Bot that takes orders in a bar,
          a customer may ask “I would like to order ‘X’”. X here is an entity
          you would want the Bot to extract from a conversation. These could
          include “beer”, “wine” or “cola” which fall into the drinks category.
          You could list further entities under food.{% endblocktrans %}
        </div>

        <form method="post" id="ENTITY_FORM" class="persistent">
          {% csrf_token %}

          {{ form | crispy }}

        </form>

      </div>

      <div class="box-footer">
        <p>
          {% blocktrans %}If you’re stuck check out our <a data-toggle="modal" data-target="#ENTITIES_VIDEO_TUTORIAL">entities video tutorial</a>{% endblocktrans %}
        </p>
        <button form="ENTITY_FORM" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>

    </div>

    <div class="box">
      <div class="box-header with-border">
        <h2 class="box-title">
          <i class="fa fa-tag text-yellow"></i> {% trans 'Entities list' %}
        </h2>
      </div>

      <div class="box-body">
        <div class="elements">
          {% for entity in entities|dictsort:'entity_name'|dictsort:'is_system' %}
            <div class="element element-{{ entity.entity_name }}">
              {% if entity.is_system %}
                <span><span class="badge badge-primary">{% trans 'system' %}</span> {{ entity.entity_name }}</span>
              {% else %}
                <a href="{% url 'studio:entities.edit' ai.aiid entity.entity_name %}" title="edit {{ entity.entity_name }}"><span class="badge badge-success">{% trans 'users' %}</span> {{ entity.entity_name }}</a>
                <button class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#delete_element" data-action="{% url 'studio:entity.delete' ai.aiid entity.entity_name %}" data-id="{{ entity.entity_name }}"></button>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>

{% endblock %}

{% block modals %}

  {% include 'modals/delete_element.html' with id='delete_element' %}

  {% trans 'Entities video tutorial' as title %}
  {% include 'modals/video_tutorial.html' with id='ENTITIES_VIDEO_TUTORIAL' title=title slug='SI5XgQm660A' %}

{% endblock modals %}

{% block stylesheets.vendors %}
  {{ block.super }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous">
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/elements.css' %}">
  <link rel="stylesheet" href="{% static 'css/tokenfield.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/elements.js' %}"></script>
  <script src="{% static 'js/tokenfield.js' %}"></script>

{% endblock %}
