<div class="row">
    <div class="col-xs-10">
        <div class="inner-addon left-addon" style="background-color: #404446;">
            <i class="fa fa-sign-out text-gray"></i>
            <input type="text" class="form-control flat no-shadow no-border" name="value-entity-row"
                   style="background-color: #404446;" value="{{value}}" placeholder="{{value}}">
        </div>
    </div>
    <div class="col-xs-2" id="btnValueEntity" style="display:none;">
        <div class="btn-group pull-right text-gray" style="padding-right:7px; padding-top:7px;">

            <a data-toggle="modal" data-target="#deleteValueEntity" style="padding-right:3px; cursor: pointer;"
               onClick="deleteValueEntity(this)">
                <i class="fa fa-trash-o text-gray" data-toggle="tooltip" title="Delete"></i>
            </a>

        </div>
    </div>
</div>
