{% load i18n %}

<div class="form-formset{% if nested %} nested{% endif %}">

  <input type="checkbox" class="delete" name="{{ prefix }}-DELETE" id="id_{{ prefix }}-DELETE" data-prefix="{{ prefix }}">

  {% for field in fields %}

    {% if not forloop.last %}

      <div class="form-group {{ field.name }}-group">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="controls">
          {{ field }}
        </div>
      </div>

    {% endif %}

  {% endfor %}

  <div class="form-group actions-group">
    {% if nested %}
      <div class="controls nested">
        <label class="btn formset-remove fa fa-minus" for="id_{{ prefix }}-DELETE" data-toggle="tooltip" title="{% trans 'Remove' %}"></label>
        <button type="button" class="btn formset-add fa fa-plus formset-button" data-toggle="tooltip" title="{% trans 'Add' %}"
        data-formset="{{ formset }}"></button>
      </div>
    {% else %}
      <div class="controls">
        <label class="btn formset-remove fa fa-trash" for="id_{{ prefix }}-DELETE" data-toggle="tooltip" title="{% trans 'Remove' %}"></label>
      </div>
    {% endif %}
  </div>

</div>
