{% extends 'studio_base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Bot Insights' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='insights' %}
{% endblock %}

{% block content %}
<div class="content-wrapper">

  <div class="box">

    <div class="box-header with-border">

      <h2 class="box-title">
        <i class="fa fa-cloud-download text-light-blue"></i> {% trans 'Download chat logs' %}
      </h2>
    </div>

    <div class="box-body">
      <form action="insights/logs" class="form-inline" method="post" id="LOGS_FORM">
        {% csrf_token %}

        <div class="form-group col-4">
          <label for="DATE_FROM">{% trans 'From date:' %}</label>
          <div class="input-group date mx-sm-3">
            <input type="text" class="form-control" name="from" id="DATE_FROM" value="{{ from_date }}">
            <div class="input-group-append">
              <label for="DATE_FROM" class="input-group-text"><i class="fa fa-calendar"></i></label>
            </div>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="DATE_TO">{% trans 'To date:' %}</label>
          <div class="input-group date mx-sm-3">
            <input type="text" class="form-control" name="to" id="DATE_TO" value="{{ to_date }}">
            <div class="input-group-append">
              <label for="DATE_TO" class="input-group-text"><i class="fa fa-calendar"></i></label>
            </div>
          </div>
        </div>

        <div class="col-4">
          <button style="min-width: 100px" form="LOGS_FORM" class="btn btn-success flat pull-right"><b>{% trans 'Download Logs' %}</b></button>
        </div>
      </form>
    </div>

    <div class="box-footer">
      <p>
        {% blocktrans %}If you're stuck, first check out our <a href="https://help.hutoma.ai" target="_blank">help website</a>, join our <a href="https://hutomadotai.slack.com" target="_blank">Slack community</a>, or ask any questions you have in the chat window in the bottom right.{% endblocktrans %}
      </p>
    </div>

  </div>

  <div class="box">

    <div class="box-header with-border">
      <h2 class="box-title">
        <i class="fa fa-bar-chart-o text-light-blue"></i> {% trans 'Charts' %}
      </h2>
    </div>

    <div class="box-body">

      <div class="loading chart" id="SESSIONS">
        <div class="canvas"></div>
        <div class="alert alert-danger">
          {% blocktrans %}There was an error loading the data for Chat Sessions.
          Please try again later.{% endblocktrans %}
        </div>
      </div>

      <div class="loading chart" id="INTERACTIONS">
        <div class="canvas"></div>
        <div class="alert alert-danger">
          {% blocktrans %}There was an error loading the data for Chat
          Interactions. Please try again later.{% endblocktrans %}
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/datapicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/insights.css' %}">
{% endblock %}


{% block javascripts.vendors %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock javascripts.vendors %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/charts.js' %}"></script>
  <script src="{% static 'js/insights.js' %}"></script>

  <script>

    google.charts.load('current', { packages: [ 'corechart' ] });

    google.charts.setOnLoadCallback(function loadHandler() {
      fetchData('SESSIONS', '{{from_date}}', '{{to_date}}', '#ffa31a');
      fetchData('INTERACTIONS', '{{from_date}}', '{{to_date}}', '#4d94ff');
    });

  </script>

{% endblock javascripts %}
