{% extends 'studio_base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Bot Integration' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='integrations' %}
{% endblock %}

{% block content %}

  <div class="content-wrapper">

      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header">
          <div class="box-title"><b>{% trans 'Integrations' %}</b></div>
        </div>
      </div>

      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><i class="fa fa-facebook text-blue"></i> <b>{% trans 'Facebook' %}</b></div>
        </div>

        <div id="facebookState"></div>

      </div>

  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/integration.css' %}">
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/facebook.js' %}"></script>

{% endblock %}
