{% extends 'studio_base.html' %}

{% load i18n widget_tweaks static %}

{% block title %}{% trans 'Bot intents' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='intents' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box" id="WELCOME">
      <div class="box-header with-border">

        <h2 class="box-title">
          <i class="fa fa-commenting-o text-green"></i> {% trans 'Intents' %}
        </h2>

      </div>

      <div class="box-body">

        <h3 class="title">{% trans 'Create your first intent' %}</h3>

        <img src="{% static 'images/empty-intents-illustration.png' %}" alt="{% trans 'Intents illustration' %}"/>

        <p>
          {% blocktrans %}
            Use intents to map questions with answers, build complex dialogues,
            or connect to external business logic & services. If you’re stuck
            <a href="https://help.hutoma.ai/article/11n0g7gjv1-adding-simple-intents-mapping-questions-and-answers#bulk_upload_of_intents" target="_blank">check our documentation</a>.
          {% endblocktrans %}
        </p>

        <div class="actions">
          <a href="{% url 'studio:intents.add' ai.aiid %}" class="btn btn-success" title="{% trans 'Add a new intent' %}">{% trans 'Add intent' %}</a>

          <form method="post" id="BULK_UPLOAD_FORM" action="{% url 'studio:intents.bulk.upload' ai.aiid %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% with field=bulk_upload_form.intents_file %}
                <label class="btn btn-primary" for="{{ field.id_for_label }}">
                  {{ field.label|safe  }}
                </label>

                {% render_field field|add_class:'button-file-input' %}
            {% endwith %}

          </form>
        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/intents.css' %}">
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script>
    document.getElementById('id_intents_file').addEventListener('change', function changeHandler() {
      this.labels.forEach(label => label.classList.add('loading'));
      this.form.submit();
    });
  </script>

{% endblock %}
