{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Bot Integration' %}{% endblock %}

{% block body.attributes %} class="skin-blue fixed sidebar-mini"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='integrations' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="box box-solid box-clean flat no-shadow">
      <div class="box-header with-border">
        <div class="box-title"><b>{% trans 'Integrations' %}</b></div>
      </div>
    </div>

    <div class="box box-solid box-clean flat no-shadow">
      <div class="box-header with-border">
        <i class="fa fa-facebook text-blue"></i>
        <div class="box-title"><b>Facebook</b></div>
      </div>

      <div id="facebookState">
      </div>

    </div>

  </section>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/integration.css' %}">
{% endblock %}

{% block javascripts %}

<script src="{% static 'js/facebook.js' %}"></script>

<script>
  var aiid = '{{aiid}}';
</script>

{% endblock %}
