{% extends 'studio_base.html' %}

{% load i18n widget_tweaks static %}

{% block title %}{% trans 'Bot intents' %} {{ intent_name }}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='intents' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header with-border">

        <h2 class="box-title">
          <i class="fa fa-commenting-o text-green"></i>
            {% if intent_name %}
              {% trans 'Edit' %} {{ intent_name }}
            {% else %}
              {% trans 'Create Intent' %}
            {% endif %}
        </h2>

        <a href="https://help.hutoma.ai/article/11n0g7gjv1-adding-simple-intents-mapping-questions-and-answers"
          class="documentation link"
          target="_blank"
          data-toggle="tooltip"
          title="{% trans 'Documentation' %}">
            <i class="fa fa-question-circle"></i>
        </a>

      </div>

      <div class="box-body">

        <form method="post" class="persistent" id="INTENT_FORM">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% include 'forms/field.html' with field=form.intent_name %}

          <hr/>

          <h5>

            <button class="text advanced-toggle {% if not formsets.conditions_in.forms|length %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target="#CONDITIONS_IN">{% trans 'Conditions' %}</button>

            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div id="CONDITIONS_IN" class="form-section collapse {% if formsets.conditions_in.forms|length %}show{% endif %}">

            <div class="alert alert-info">
              {% blocktrans %}
                This intent will only trigger once all of these conditions are true.
              {% endblocktrans %}
            </div>

            <div class="formset" id="CONDITIONS_IN_FORMSET">

              {% for form in formsets.conditions_in.forms %}

                {% include 'formset.html' with prefix=form.prefix fields=form %}

                {{ form.errors }}

              {% endfor %}

              {{ formsets.conditions_in.management_form }}

            </div>

            <button class="btn btn-success formset-button" data-toggle="tooltip" type="button"
              title="{% trans 'Add a new Condition' %}"
              data-formset="CONDITIONS_IN">{% trans 'Add Condition' %}</button>

            {% include 'forms/field.html' with field=form.conditions_default_response %}

          </div>

          <hr/>

          <h5>
            <span class="text">{% trans 'Dialog' %}</span>
          </h5>

          {% include 'forms/field.html' with field=form.user_says %}

          {% include 'forms/field.html' with field=form.responses %}

          <hr/>

          <h5>

            <button class="text advanced-toggle {% if not formsets.context_in.forms|length %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target="#CONTEXT_IN">{% trans 'Memory variables' %}</button>

            <a href="https://help.hutoma.ai/article/xc5zkhbg3a-adding-entities"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div id="CONTEXT_IN" class="form-section collapse {% if formsets.context_in.forms|length %}show{% endif %}">

            <div class="alert alert-info">
              {% blocktrans %}
                Assign these as memory variables so that they can be used when processing this intent
              {% endblocktrans %}
            </div>

            <div class="formset" id="CONTEXT_IN_FORMSET">

              {% for form in formsets.context_in.forms %}

                {% include 'formset.html' with prefix=form.prefix fields=form %}

                {{ form.errors }}

              {% endfor %}

              {{ formsets.context_in.management_form }}

            </div>

            <button class="btn btn-success formset-button" data-toggle="tooltip" type="button"
              title="{% trans 'Add a new variable' %}"
              data-formset="CONTEXT_IN">{% trans 'Add variable' %}</button>

          </div>

          <hr/>

          <h5>

            <button class="text advanced-toggle {% if not formsets.entities.forms|length %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target="#ENTITIES">{% trans 'Entities' %}</button>

            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div id="ENTITIES" class="form-section collapse {% if formsets.entities.forms|length %}show{% endif %}">

            <div class="formset" id="ENTITIES_FORMSET">

              {% for form in formsets.entities.forms %}

                {% include 'formset.html' with prefix=form.prefix fields=form %}

                {{ form.errors }}

              {% endfor %}

              {{ formsets.entities.management_form }}

            </div>

            <button class="btn btn-success formset-button" data-toggle="tooltip" type="button"
              title="{% trans 'Add a new Entity' %}"
              data-formset="ENTITIES">{% trans 'Add Entity' %}</button>

          </div>

          <hr/>

          <h5>

            <button class="text advanced-toggle {% if not form.webhook.value %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target="#WEBHOOK">{% trans 'Webhook' %}</button>

            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div id="WEBHOOK" class="form-section collapse {% if form.webhook.value %}show{% endif %}">

            {% include 'forms/field.html' with field=form.webhook %}

          </div>

          <hr/>

          <h5>

            <button class="text advanced-toggle {% if not formsets.context_out.forms|length %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target="#CONTEXT_OUT">{% trans 'Context out' %}</button>

            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div id="CONTEXT_OUT" class="form-section collapse {% if formsets.context_in.forms|length %}show{% endif %}">

            <div class="alert alert-info">
              {% blocktrans %}
                Assign these as memory variables when the intent is triggered. These can then be used by later intents
              {% endblocktrans %}
            </div>

            <div class="formset" id="CONTEXT_OUT_FORMSET">

              {% for form in formsets.context_out.forms %}

                {% include 'formset.html' with prefix=form.prefix fields=form %}

                {{ form.errors }}

              {% endfor %}

              {{ formsets.context_out.management_form }}

            </div>

            <button class="btn btn-success formset-button" data-toggle="tooltip" type="button"
              title="{% trans 'Add a new variable' %}"
              data-formset="CONTEXT_OUT">{% trans 'Add variable' %}</button>

          </div>

          <hr/>

          <h5>
            <span class="text">{% trans 'Reset Context' %}</span>
            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>
          </h5>

          {% include 'forms/checkbox.html' with field=form.reset_context_on_exit %}

          <hr/>

          <h5>
            <button class="text advanced-toggle {% if not formsets.conditions_out.forms|length %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target="#CONDITIONS_OUT">{% trans 'Follow-up intents' %}</button>

            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div id="CONDITIONS_OUT" class="form-section collapse {% if formsets.conditions_out.forms|length %}show{% endif %}">

            <div class="alert alert-info">
              {% blocktrans %}
                Trigger an other intent after this one
              {% endblocktrans %}
            </div>

            <div class="formset" id="CONDITIONS_OUT_FORMSET">

              {% for form in formsets.conditions_out.forms %}

                <div class="form-formset-group">

                  {% include 'formset.html' with prefix=form.prefix fields=form %}

                  <div id="{{ form.prefix }}_FORMSET">

                    {% for formset in form.nested.forms %}

                      {% include 'formset.html' with prefix=formset.prefix formset=form.prefix fields=formset nested=True %}

                    {% endfor %}

                  </div>

                  <template id="{{ form.prefix }}_TEMPLATE">
                    {% with form.prefix|add:'-__prefix__' as prefix %}
                      {% include 'formset.html' with prefix=prefix formset=form.prefix fields=form.nested.empty_form nested=True %}
                    {% endwith %}
                  </template>

                  {{ form.nested.management_form }}

                {{ form.errors }}

                </div>

              {% endfor %}

              {{ formsets.conditions_out.management_form }}

            </div>

            <button class="btn btn-success formset-button" data-toggle="tooltip" type="button"
              title="{% trans 'Add a new follow up intent' %}"
              data-formset="CONDITIONS_OUT">{% trans 'Add follow up intent' %}</button>

          </div>

        </form>

        {% for key, formset in formsets.items %}

          <template id="{{ key|upper }}_TEMPLATE">

            {% if formset.empty_form.nested %}

              <div class="form-formset-group" id="{{ formset.empty_form.prefix }}">

                {% include 'formset.html' with prefix=formset.empty_form.prefix fields=formset.empty_form  %}

                {% with formset.empty_form as form %}

                  <div id="{{ form.prefix }}_FORMSET">

                    {% with form.prefix|add:'-0' as prefix %}
                      {% include 'formset.html' with prefix=prefix formset=form.prefix fields=form.nested.forms.0 nested=True %}
                    {% endwith %}

                  </div>

                  <template id="{{ form.prefix }}_TEMPLATE">
                    {% with form.prefix|add:'-__prefix__' as prefix %}
                      {% include 'formset.html' with prefix=prefix formset=form.prefix fields=form.nested.empty_form nested=True %}
                    {% endwith %}
                  </template>

                {% endwith %}

                {{ formset.empty_form.nested.management_form }}

              </div>

            {% else %}

              {% include 'formset.html' with prefix=formset.empty_form.prefix fields=formset.empty_form  %}

            {% endif %}

          </template>

        {% endfor %}


      </div>

      <div class="box-footer">

        <p>
          {% blocktrans %}If you’re stuck check out our <a data-toggle="modal" data-target="#INTENTS_VIDEO_TUTORIAL">intents video tutorial</a>{% endblocktrans %}
        </p>

        <button form="INTENT_FORM" formaction="?next=studio:intents.add" class="btn btn-default">{% trans 'Save and add new intent' %}</button>

        <button form="INTENT_FORM" class="btn btn-primary">{% trans 'Save' %}</button>

      </div>

    </div>

  </div>

{% endblock %}

{% block modals %}

  {% trans 'Intents video tutorial' as title %}
  {% include 'modals/video_tutorial.html' with id='INTENTS_VIDEO_TUTORIAL' title=title slug='SI5XgQm660A' %}

{% endblock modals %}

{% block stylesheets.vendors %}
  {{ block.super }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous">
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/intents.css' %}">
  <link rel="stylesheet" href="{% static 'css/formset.css' %}">
  <link rel="stylesheet" href="{% static 'css/tokenfield.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/formset.js' %}"></script>
  <script src="{% static 'js/tokenfield.js' %}"></script>

{% endblock %}
