
<script>
  appid = '{{fb_app_id}}';
  permissions = '{{fb_permissions}}';

  window.fbAsyncInit = function () {
    FB.init({
      appId: appid,
      xfbml: true,
      version: "v2.6"
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

{% if fb_not_connected %}

  <div class="box-header with-border">

    <div class="alert alert-base flat no-shadow">
      Integrate this bot with a Facebook Page to allow it to respond on your behalf.
      Users can talk to the bot over Facebook Messenger, both in the app and on the web.
    </div>

    <div style="padding-bottom: 20px">
      <button class="btn btn-primary flat center-block" id="fb-int-connect" style="width: 260px; "><i class="fa fa-facebook text-blue"></i> Connect to Facebook</button>
    </div>

  </div>

{% else %}

<div class="box-header with-border ">

  <div class="alert alert-base flat no-shadow">
    <p>Connected to "{{facebook_username}}" Facebook account</p>
  </div>

  <div style="padding-bottom: 20px">
    <button class="btn btn-primary flat center-block" id="fb-disconnect" style="width: 260px; " alt="disconnect">disconnect</button>
  </div>

  {% if fb_no_page_selected %}

    {% if not fb_success %}
      <div class="alert alert-error flat no-shadow">
        Could not get a list of pages from Facebook.
      </div>
    {% elif fb_empty_pagelist %}
      <div class="alert alert-info flat no-shadow">
        This account has no Facebook pages that are suitable for bot integration. Create a new Facebook page or connect to a different Facebook account.
      </div>
    {% else %}

      <div class="alert-base flat no-shadow" style="padding: 2rem">
        <p>Select a Facebook page to attach this bot to</p>
        <ul style="padding: 2rem">
          {% for fb_page_id, fb_page_name in fb_page_list.items %}
            <li><a class='fb-page-list' id="_fb_{{fb_page_id}}" style="font-weight: bold;color: #fff;cursor: pointer;">{{fb_page_name}}</a></li>
          {% endfor %}
        </ul>
      </div>

    {% endif %}
  {% else %}

    <div id="containerMsgAlertProgressBar" style="margin-bottom: 32px; padding-right: 0px; display: block;"
         class="alert alert-dismissable flat alert-base">
      <i id="iconAlertProgressBar" class="icon fa fa-check"></i>
      <span id="msgAlertProgressBar">Integrated with page <a target="_facebook" href="https://www.facebook.com/{{fb_page_integrated_id}}"> {{fb_page_integrated_name}}</a>. The bot will respond to all messages sent to that page.</span>
    </div>

    <form id="FB_SETTINGS">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="fb_page_greeting">Greeting message to display on the welcome screen</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="icon fa fa-comment-o"></i>
              </div>
              <input type="text" required maxlength="160" class="form-control flat no-shadow" id="fb_page_greeting" value="{{page_greeting}}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="fb_get_started_payload">Command to send to the bot when the user taps the Get Started button</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="icon fa fa-play-circle-o"></i>
              </div>
              <input type="text" required maxlength="160" class="form-control flat no-shadow" id="fb_get_started_payload" value="{{get_started_payload}}">
            </div>
          </div>
        </div>
      </div>
    </form>

    <div style="padding-bottom: 20px">
      <button class="btn btn-primary flat center-block" form="FB_SETTINGS" style="width: 260px;" alt="save customisations">save customisations</button>
    </div>

    {% include 'integration_facebook_messenger.html' with appid=fb_app_id pageid=fb_page_integrated_id plugin_class='fb-messengermessageus' button_name='Message Us' plugin_reference='https://developers.facebook.com/docs/messenger-platform/plugin-reference/message-us' button_action='to start chatting to this bot on Facebook Messenger.' %}

    {% include 'integration_facebook_messenger.html' with appid=fb_app_id pageid=fb_page_integrated_id plugin_class='fb-send-to-messenger' button_name='Send To Messenger' data_ref='RESPOND_TO_THIS' button_action='for this bot to start a conversation with you on Facebook Messenger.' plugin_reference='https://developers.facebook.com/docs/messenger-platform/plugin-reference/send-to-messenger' %}

  {% endif %}

</div>

{% endif %}

<div class="box box-solid box-clean flat no-shadow no-margin" id="newAiintegration" style="padding-bottom: 0px;">
  <div class="box-body" style="padding-bottom: 0px;">
    <div style="padding-bottom: 12px">
      {{ facebook_message }}
    </div>
  </div>
</div>
