<div style="margin-bottom: 16px; padding-right: 0px; display: block;"
     class="alert alert-dismissable flat alert-base">
  <div class="integration-plugin
    {{plugin_class}}"
    messenger_app_id="{{appid}}"
    page_id="{{pageid}}"{% if data_ref %}
    data-ref="{{data_ref}}"{% endif %}
    color="blue"
    size="large">
  </div>
  <span>&nbsp;&nbsp;{{button_action}}</span>
  <span style="white-space: nowrap">
    <a data-toggle="collapse" href="#collapse{{plugin_class}}">Create your own {{button_name}} button</a></span>
</div>

<div id="collapse{{plugin_class}}" class="comment-text integration-code collapse">
  <div class="integration-code-title">Setup</div>
  <div>
                <pre class="integration-code-block"><code>
  &lt;script&gt;

    window.fbAsyncInit = function () {
        FB.init({
            appId: &quot;{{appid}}&quot;,
            xfbml: true,
            version: &quot;v2.6&quot;
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = &quot;//connect.facebook.net/en_US/sdk.js&quot;;
        fjs.parentNode.insertBefore(js, fjs);
    }(document, &#39;script&#39;, &#39;facebook-jssdk&#39;));

  &lt;/script&gt;
                </code></pre>
  </div>
  <div class="integration-code-title">Plugin Code</div>
  <div>
                <pre class="integration-code-block"><code>
&lt;div class=&quot;{{plugin_class}}&quot;
  messenger_app_id=&quot;{{appid}}&quot;
  page_id=&quot;{{pageid}}&quot;{% if data_ref %}
  data-ref=&quot;{{data_ref}}&quot;{% endif %}
  color=&quot;blue&quot;
  size=&quot;standard&quot; &gt;
&lt;/div&gt;
                </code></pre>
  </div>
  {% if data_ref %}
  <div>Replace "{{data_ref}}" with the text that will be sent to your bot when the user presses the button.</div>
  <div style="padding-bottom: 8px">Your bot should respond to this text with a greeting, menu or instructions.
  </div>
  {% endif %}
  <div>See the <a target="plugin-reference"
                  href="{{plugin_reference}}">Facebook
    plugin reference</a> for details on customising this code in your web-page.
  </div>
  <div><a data-toggle="collapse" href="#collapse{{plugin_class}}">Hide this panel</a></div>

</div>

