{% extends 'studio_base.html' %}

{% load i18n widget_tweaks static %}

{% block title %}{% trans 'Bot intents' %} {{ intent_name }}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='intents' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header with-border">

        <h2 class="box-title">
          <i class="fa fa-commenting-o text-green"></i>
            {% if intent_name %}
              {% trans 'Edit' %} {{ intent_name }}
            {% else %}
              {% trans 'Create Intent' %}
            {% endif %}
        </h2>

        <a href="#"
          class="documentation link"
          target="_blank"
          data-toggle="tooltip"
          title="{% trans 'Documentation' %}">
            <i class="fa fa-question-circle"></i>
        </a>

      </div>

      <div class="box-body">

        <form method="post" class="persistent" id="INTENT_FORM">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% include 'forms/field.html' with field=form.intent_name %}

          {% include 'forms/field.html' with field=form.user_says %}

          {% include 'forms/field.html' with field=form.responses %}

          <hr/>

          <h5>

            <button class="advanced-toggle {% if not form.webhook.value and formset.forms|length %}collapsed{% endif %}"
              tabindex="-1"
              type="button"
              data-toggle="collapse"
              data-target=".advanced">{% trans 'Webhook and Entities' %}</button>

            <a href="#"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          <div class="advanced collapse {% if form.webhook.value or formset.forms|length %}show{% endif %}">

            {% include 'forms/field.html' with field=form.webhook %}

            <div id="ENTITIES">

              <label>{% trans 'Entities (optional)' %}</label>

              {% for form in formset.forms %}

                {% include 'entity_formset.html' with id=forloop.counter0 fields=form %}

                {{ form.errors }}

              {% endfor %}

              {{ formset.management_form }}

            </div>

            <button class="btn btn-success btn-block"
              data-toggle="tooltip"
              type="button"
              title="{% trans 'Add a new Entity' %}"
              id="FORMSET_ADD">{% trans 'Add Entity' %}</button>

          </div>

        </form>

        <script id="EMPTY_FORMSET" type="text/template">
          {% include 'entity_formset.html' with id='__prefix__' fields=formset.empty_form %}
        </script>

      </div>

      <div class="box-footer">

        <p>
          {% blocktrans %}If you’re stuck check out our <a data-toggle="modal" data-target="#INTENTS_VIDEO_TUTORIAL">intents video tutorial</a>{% endblocktrans %}
        </p>

        <button form="INTENT_FORM" class="btn btn-primary">{% trans 'Save' %}</button>

      </div>

    </div>

  </div>

{% endblock %}

{% block modals %}

  {% include 'modals/video_tutorial.html' with id='INTENTS_VIDEO_TUTORIAL' title='Intents video tutorial' slug='SI5XgQm660A' %}

{% endblock modals %}

{% block stylesheets.vendors %}
  {{ block.super }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous">
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/intents.css' %}">
  <link rel="stylesheet" href="{% static 'css/formset.css' %}">
  <link rel="stylesheet" href="{% static 'css/tokenfield.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/formset.js' %}"></script>
  <script src="{% static 'js/tokenfield.js' %}"></script>

  <script>

    const TOTAL_FORMS = document.getElementById('id_entities-TOTAL_FORMS');
    const ENTITIES = document.getElementById('ENTITIES');
    const EMPTY_FORMSET = document.getElementById('EMPTY_FORMSET');

    $(document).on('click', '#FORMSET_ADD', function (event) {
        // get form html
        var div = document.createElement('div');

        // replace prefix with entities forms counter
        div.innerHTML = EMPTY_FORMSET.innerHTML.replace(
          /__prefix__/g,
          TOTAL_FORMS.value
        );

        // Append new form to the ma
        var newEntity = ENTITIES.appendChild(div.firstElementChild);

        // Enable tokenfield
        $(newEntity).find('[data-tokenfield]').tokenfield(TOKENFIELD_OPTIONS);

        // Update Entities forms counter
        TOTAL_FORMS.value++;
      })
  </script>

{% endblock %}
