{% load i18n static %}

<div class="logs open" id="LOGS">

  <div class="sidebar-header">
    <h2>{% trans 'Chat logs' %}</h2>
  </div>

  <pre class="text-gray output line-numbers wrap-lines"><code class="language-json" id="MSG_JSON"></code></pre>

  <div class="code-actions">
    <button class="btn btn-default fa fa-indent"
      id="LOGS_WRAP_ACTION"
      data-toggle="tooltip"
      title="{% trans 'Wrap lines' %}">
      <span class="sr-only">{% trans 'Wrap lines' %}</span>
    </button>

    <button class="btn btn-default fa fa-clipboard"
      data-toggle="tooltip"
      title="{% trans 'Copy to clipboard' %}"
      data-clipboard-target="#MSG_JSON">
      <span class="sr-only">{% trans 'Copy' %}</span>
    </button>
  </div>
</div>
