{% extends 'studio_base.html' %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Bot Settings' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='settings' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content">
      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><b>{% trans 'Basic Bot Settings' %}</b></div>
        </div>

        <div class="box-body">

          <form method="post" class="persistent settings-add" id="settings_form">
            {% csrf_token %}

            {{ form | crispy }}

          </form>

        </div>

        <div class="box-footer">
            <a href="{% url 'studio:index' %}" style="width:100px" class="btn btn-primary flat" id="btnCancel"><b>{% trans 'Cancel' %}</b></a>
            <button style="min-width:100px" type="submit" form="settings_form" class="btn btn-success flat pull-right"><b>{% trans 'Save' %}</b></button>
            <a href="{% url 'studio:proxy.ai.export' ai.aiid %}" download="bot-{{ ai.aiid }}" style="min-width:100px" class="btn btn-primary flat pull-right"><b>{% trans 'Export bot' %}</b></a>
        </div>

      </div>

      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><b>{% trans 'API tokens' %}</b></div>
        </div>

        <div class="box-body">

          <div class="form-group">
            <label for="id_file" class="control-label  requiredField">{% trans 'Developer ID (private)' %}</label>
            <div class="input-group">
              <input type="text" readonly class="form-control" id="dev_id" value="{{ request.session.dev_id }}">
              <span class="input-group-btn">
                <button class="btn flat direct-chat-dictate" data-toggle="tooltip" title="{% trans 'Copy to clipboard' %}" data-clipboard-target="#dev_id"><i class="fa fa-clipboard"></i></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="id_file" class="control-label  requiredField">{% trans 'Dev token (private)' %}</label>
            <div class="input-group">
              <input type="text" readonly class="form-control" id="dev_token" value="{{ request.session.token }}">
              <span class="input-group-btn">
                <button class="btn flat direct-chat-dictate" data-toggle="tooltip" title="{% trans 'Copy to clipboard' %}" data-clipboard-target="#dev_token"><i class="fa fa-clipboard"></i></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="id_file" class="control-label  requiredField">{% trans 'Client token (public)' %}</label>
            <div class="input-group">
              <input type="text" readonly class="form-control" id="client_token" value="{{ ai.client_token }}">
              <span class="input-group-btn">
                <button class="btn flat direct-chat-dictate" data-toggle="tooltip" title="{% trans 'Copy to clipboard' %}" data-clipboard-target="#client_token"><i class="fa fa-clipboard"></i></button>
              </span>
            </div>
          </div>

        </div>

      </div>

      <div class="box box-solid box-danger flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><b>{% trans 'Danger zone' %}</b></div>
        </div>

        <div class="box-body">

          <div class="alert alert-info">{% trans 'If you change any of those settings it can break your bot, there is no going back. Please be certain.' %}</div>

          <div class="form-training">

            <div class="form-group">
              <label for="id_file" class="control-label  requiredField">{% trans 'Webhook signing secret' %}</label>
              <div class="input-group">
                <input type="text" readonly class="textinput textInput form-control" id="webhook_signing_secret">
                <span class="input-group-btn">
                  <button class="btn flat direct-chat-dictate" data-toggle="tooltip" title="{% trans 'Copy to clipboard' %}" data-clipboard-target="#webhook_signing_secret"><i class="fa fa-clipboard"></i></button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <button style="width:100px" data-toggle="modal" data-target="#regenerate_webhook_secret" class="btn btn-primary flat pull-right"><b>Generate</b></button>
            </div>

          </div>

        </div>

        <div class="box-footer">
          <button style="min-width:100px" data-toggle="modal" data-target="#delete_AI" class="btn btn-danger flat pull-right"><b>{% trans 'Delete bot' %}</b></button>
        </div>

      </div>
    </section>
  </div>
{% endblock %}

{% block modals %}
  {% include 'modals/delete_ai.html' with id='delete_AI' %}
  {% include 'modals/regenerate_webhook_secret.html' with id='regenerate_webhook_secret' %}
{% endblock %}

{% block stylesheets.vendors %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/tokenfield.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/tokenfield.js' %}"></script>
  <script src="{% static 'js/webhook.js' %}"></script>
{% endblock %}
