{% extends 'studio_base.html' %}

{% load i18n widget_tweaks static %}

{% block title %}{% trans 'Bot Settings' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='settings' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header with-border">
        <h2 class="box-title"><i class="fa fa-gear text-red"></i> {% trans 'Basic Bot Settings' %}</h2>
      </div>

      <div class="box-body">

        <form method="post" id="SETTINGS_FORM" class="persistent">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% include 'forms/field.html' with field=form.aiid %}

          {% include 'forms/field.html' with field=form.name %}

          {% include 'forms/field.html' with field=form.description %}

          {% include 'forms/field.html' with field=form.timezone %}

          <h5 id="bot-responses">

            <span class="text">{% trans 'Bot responses' %}</span>

            <a href="https://help.hutoma.ai/article/v4qcjgtrlw-bot-settings"
              class="fa fa-question-circle"
              target="_blank"
              data-toggle="tooltip"
              title="{% trans 'Documentation' %}"></a>

          </h5>

          {% include 'forms/field.html' with field=form.default_chat_responses %}

          <div class="form-formset">
            {% include 'forms/field.html' with field=form.error_threshold_handover %}

            {% with field=form.handover_reset_timeout_seconds %}

              <div id="FIELD_{{ field.id_for_label|upper }}" class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label|safe  }}</label>

                <div class="input-group">
                  {% render_field field|add_class:'form-control' %}

                  <div class="input-group-append">
                    <span class="input-group-text">{% trans 'in minutes' %}</span>
                  </div>

                </div>

              </div>

            {% endwith %}

            {% include 'forms/field.html' with field=form.handover_message %}

          </div>

        </form>

      </div>

      <div class="box-footer">
        <a id="EXPORT_BOT_ACTION" action="send" href="{% url 'studio:proxy.ai.export' ai.aiid %}" class="btn btn-primary"
          download="bot-{{ ai.name }}_{{ ai.aiid }}.json" >{% trans 'Export bot' %}</a>
        <button type="submit" form="SETTINGS_FORM" class="btn btn-success">{% trans 'Save' %}</button>
      </div>

    </div>

    <div class="box">

      <div class="box-header with-border">
        <h2 class="box-title" id="api-tokens">{% trans 'API tokens' %}</h2>
      </div>

      <div class="box-body">

        <div class="form-group">
          <label for="DEV_ID">{% trans 'Developer ID (private)' %}</label>
          <div class="input-group">
            <input class="form-control" readonly id="DEV_ID" value="{{ request.session.dev_id }}">
            <div class="input-group-append">
              <button class="btn btn-default fa fa-clipboard" data-toggle="tooltip" title="{% trans 'Copy to clipboard' %}" data-clipboard-target="#DEV_ID">
                <span class="sr-only">{% trans 'Copy to clipboard' %}</span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="DEV_TOKEN">{% trans 'Dev token (private)' %}</label>
          <div class="input-group">
            <input class="form-control" readonly id="DEV_TOKEN" value="{{ request.session.token }}">
            <div class="input-group-append">
              <button class="btn btn-default fa fa-clipboard"
                data-toggle="tooltip"
                title="{% trans 'Copy to clipboard' %}"
                data-clipboard-target="#DEV_TOKEN">
                <span class="sr-only">{% trans 'Copy to clipboard' %}</span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="CLIENT_TOKEN">{% trans 'Client token (public)' %}</label>
          <div class="input-group">
            <input class="form-control" readonly id="CLIENT_TOKEN" value="{{ ai.client_token }}">
            <div class="input-group-append">
              <button class="btn btn-default fa fa-clipboard"
                data-toggle="tooltip"
                title="{% trans 'Copy to clipboard' %}"
                data-clipboard-target="#CLIENT_TOKEN">
                <span class="sr-only">{% trans 'Copy to clipboard' %}</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="box">
      <div class="box-header with-border">
        <h2 class="box-title">{% trans 'Overwrite your bot' %}</h2>
      </div>

      <div class="box-body">

        <div class="alert alert-info">
          {% blocktrans %}Import a previous version of your bot from a previously exported file{% endblocktrans %}
        </div>

        <form method="post" id="IMPORT_BOT_FORM" action="{% url 'studio:re_import' ai.aiid %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'forms/field.html' with field=import_form.ai_data %}
        </form>

      </div>

      <div class="box-footer">
        <button form="IMPORT_BOT_FORM" class="btn btn-success">{% trans 'Import' %}</button>
      </div>

    </div>

    <div class="box box-danger">
      <div class="box-header with-border">
        <h2 class="box-title" id="danger-zone">{% trans 'Danger zone' %}</h2>
      </div>

      <div class="box-body">

        <div class="alert alert-info">
          {% blocktrans %}If you change any of those settings it can break your
          bot, there is no going back. Please be certain.{% endblocktrans %}
        </div>

        <div class="form-webhook">

          <div class="form-group">
            <label for="WEBHOOK_SIGNING_SECRET">{% trans 'Webhook signing secret' %}</label>
            <div class="input-group">
              <input type="text" readonly class="textinput textInput form-control" id="WEBHOOK_SIGNING_SECRET">
              <div class="input-group-append">
                <button class="btn btn-default fa fa-clipboard"
                  data-toggle="tooltip"
                  title="{% trans 'Copy to clipboard' %}"
                  data-clipboard-target="#WEBHOOK_SIGNING_SECRET">
                  <span class="sr-only">{% trans 'Copy to clipboard' %}</span>
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button data-toggle="modal" data-target="#regenerate_webhook_secret" class="btn btn-primary pull-right">{% trans 'Generate' %}</button>
          </div>

        </div>

      </div>

      <div class="box-footer">
        <button data-toggle="modal" data-target="#delete_AI" class="btn btn-danger">{% trans 'Delete bot' %}</button>
      </div>

    </div>

  </div>
{% endblock %}

{% block modals %}
  {% include 'modals/delete_ai.html' with id='delete_AI' %}
  {% include 'modals/regenerate_webhook_secret.html' with id='regenerate_webhook_secret' %}
{% endblock %}

{% block stylesheets.vendors %}
  {{ block.super }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" />
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/tokenfield.css' %}">
  <link rel="stylesheet" href="{% static 'css/formset.css' %}">
  <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/tokenfield.js' %}"></script>
  <script src="{% static 'js/webhook.js' %}"></script>
{% endblock %}
