{% extends "base.html" %}

{% load i18n crispy_forms_tags embed %}

{% block title %}{% trans 'Edit your bot skills' %}{% endblock %}

{% block body.attributes %} class="skin-blue fixed sidebar-mini"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block navigation %}
  {% embed 'navigation.html' %}
    {% block studio %}
      {% include 'studio_navigation.html' with ai=ai active='skills' %}
    {% endblock studio %}
  {% endembed %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content">
      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><i class="fa fa-plus text-purple"></i> <b>{% trans 'Edit your bot skills' %}</b></div>
          <a data-toggle="collapse"  href="#skillsHelp" tabindex="-1">
            <div class=" pull-right">{% trans 'more info' %}
              <i class="fa fa-question-circle text-sm text-yellow"></i>
            </div>
          </a>
        </div>

        <div class="box-body ">
          <div id="skillsHelp" class="panel-collapse collapse">
            <div class="box-body">
              <div class="overlay center-block">
                <section class="content-info" >
                  <div class="box-body">
                    <dl class="dl-horizontal no-margin" style="text-align:justify">
                      {% blocktrans %}You can add new capabilities to your bot by selecting pre-trained bots from our Botstore.{% endblocktrans %}</dl>
                    </dl>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <form method="post" class="form-add" id="add_form">
          {% csrf_token %}

          {{ form }}

        </form>

        <div class="box-footer">
            <button style="min-width:100px" type="submit" form="add_form" class="btn btn-success flat pull-right"><b>{% trans 'Save' %}</b></button>
        </div>

      </div>

    </section>
  </div>
{% endblock %}
