{% extends 'studio_base.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Edit your bot skills' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='skills' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header with-border">

        <h2 class="box-title">
          <i class="fa fa-plus text-purple"></i> {% trans 'Edit your bot skills' %}
        </h2>

        <button type="submit" form="SKILLS_FORM" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>

      <div class="box-body ">

        <div class="alert alert-info">
          {% blocktrans %}You can add new capabilities to your bot by selecting
          pre-trained bots from our Botstore. You can add up to 5 bots.{% endblocktrans %}
        </div>

        <form method="post" class="form-skills persistent" id="SKILLS_FORM">
          {% csrf_token %}

          {{ form }}

        </form>
      </div>

      <div class="box-footer">
        <button type="submit" form="SKILLS_FORM" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>

    </div>

  </div>
{% endblock %}
