{% extends 'base.html' %}

{% load static %}

{% block body.attributes %} class="fixed sidebar-mini workspace{% if chatable %} chatable{% endif %}"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block aside %}


  <div class="aside show" id="ASIDE">
    {# We hide chat for smaller screen size (need to be here so it don't flicker) #}
    <script>
      if (window.matchMedia('(max-width: 1023px)').matches) {
        document.getElementById('ASIDE').classList.remove('show');
      }
    </script>

    {% include 'chat.html' with ai=ai %}
    {% include 'logs.html' %}
  </div>

{% endblock aside %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
{% endblock %}

{% block javascripts %}
  <script>
    const API_URL = '{{ api_url }}'
    const AI = {
      id: '{{ ai.aiid }}',
      name: '{{ ai.name }}'
    }
  </script>

  <script src="{% static 'js/forms.js' %}"></script>
  <script src="{% static 'js/sanitize.js' %}"></script>
  <script src="{% static 'js/clipboard.js' %}"></script>
  <script src="{% static 'js/training.js' %}"></script>
  <script src="{% static 'js/voice.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
