{% extends 'base.html' %}

{% load static %}

{% block body.attributes %} class="fixed sidebar-mini workspace{% if chatable %} chatable{% endif %}"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block aside %}


  <div class="aside show" id="ASIDE">
    {# We hide chat for smaller screen size (need to be here so it don't flicker) #}
    <script>
      if (window.matchMedia('(max-width: 1023px)').matches) {
        document.getElementById('ASIDE').classList.remove('show');
      }
    </script>

    {% include 'chat.html' with ai=ai %}
    {% include 'logs.html' %}
  </div>

{% endblock aside %}

{% block stylesheets.vendors %}
  {{ block.super }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.css" integrity="sha256-Afz2ZJtXw+OuaPX10lZHY7fN1+FuTE/KdCs+j7WZTGc=" crossorigin="anonymous" />

{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
  <link rel="stylesheet" href="{% static 'css/prism-them.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block javascripts.vendors %}

  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js" integrity="sha256-jc6y1s/Y+F+78EgCT/lI2lyU7ys+PFYrRSJ6q8/R8+o=" crossorigin="anonymous"  data-manual></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js" integrity="sha256-JfF9MVfGdRUxzT4pecjOZq6B+F5EylLQLwcQNg+6+Qk=" crossorigin="anonymous"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-json.min.js" integrity="sha256-oA5rMHeAX+cg/CdcQ0VHmIqqw/IW4o2KAUEjo4QvShs=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.3/clipboard.min.js" integrity="sha256-UYhIvf9FwUwooWcWL/SYFVJrjf6MFRzFkecTM4WPb3o=" crossorigin="anonymous"></script>

{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script>
    const AI = {
      id: '{{ ai.aiid }}',
      name: '{{ ai.name }}'
    };
  </script>

  <script src="{% static 'js/fetch.js' %}"></script>
  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/forms.js' %}"></script>
  <script src="{% static 'js/sanitize.js' %}"></script>
  <script src="{% static 'js/clipboard.js' %}"></script>
  <script src="{% static 'js/prism-autolinker.js' %}"></script>
  <script src="{% static 'js/training.js' %}"></script>
  <script src="{% static 'js/voice.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
