{% extends 'base.html' %}

{% load static %}

{% block body.attributes %} class="skin-blue fixed sidebar-mini workspace"{% endblock body.attributes %}

{% block header %}
  {% include 'console_header.html' %}
{% endblock %}

{% block footer %}
  {% include 'console_footer.html' %}
{% endblock %}

{% block aside %}
  <div class="aside">
    {% include 'chat.html' with ai=ai %}
    {% include 'logs.html' %}
  </div>
{% endblock aside %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/training.css' %}">
{% endblock %}

{% block javascripts %}
  <script>
    const API_URL = '{{ api_url }}'
    const AI = {
      id: '{{ ai.aiid }}',
      name: '{{ ai.name }}'
    }
  </script>

  <script src="{% static 'js/clipboard.js' %}"></script>
  <script src="{% static 'js/training.js' %}"></script>
  <script src="{% static 'js/voice.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
