{% extends 'studio_base.html' %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Bot training' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='training' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">

    <div class="box">
      <div class="box-header with-border">

        <h2 class="box-title">
          <i class="fa fa-graduation-cap"></i> {% trans 'Edit training file' %}
        </h2>

        <a href="https://help.hutoma.ai/article/3x8gqu2dg5-uploading-simple-questions-answers" class="documentation link" target="_blank"  data-toggle="tooltip" title="{% trans 'Documentation' %}">
          <i class="fa fa-question-circle text-sm text-yellow"></i>
        </a>

      </div>

      <div class="box-body">

        <form id="TRAINIG_FORM" method="post" class="enhanced-textarea-form persistent">
          {% csrf_token %}

          {{ form | crispy }}

        </form>

        <p class="enhanced-textarea">
          {% blocktrans %}Attach files by dragging & dropping or <span class="btn-link">selecting them</span>{% endblocktrans %}
          <input accept=".txt" id="FILE" type="file" multiple="multiple" aria-label="Attach files to your comment">
        </p>

      </div>

      <div class="box-footer">

        <p>
          {% blocktrans %}Check <a data-toggle="modal" data-target="#sampleTrainingFile">training file example</a> or watch our <a data-toggle="modal" data-target="#TRAINING_VIDEO_TUTORIAL">training video tutorial</a>{% endblocktrans %}
        </p>

        <button form="TRAINIG_FORM" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>

    </div>

  </div>

  {% include 'modals/training_example.html' %}

  {% include 'modals/video_tutorial.html' with id='TRAINING_VIDEO_TUTORIAL' title='Training video tutorial' slug='iKPthxcs9Wg' %}

{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/enhanced_textarea.css' %}">
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/enhanced_textarea.js' %}"></script>
{% endblock %}
