{% extends 'studio_base.html' %}

{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Bot training' %}{% endblock %}

{% block navigation %}
  {% include 'studio_navigation.html' with ai=ai active='training' %}
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content">

      {% if not ai_details.training_file %}
        <div class="alert alert-info">
          <p>
            {% blocktrans %}Check <a data-toggle="modal" data-target="#sampleTrainingFile">training file example</a> or watch our <a data-toggle="modal" data-target="#TRAINING_VIDEO_TUTORIAL">training video tutorial</a>{% endblocktrans %}
          </p>
        </div>
      {% endif %}

      <div class="box box-solid box-clean flat no-shadow">
        <div class="box-header with-border">
          <div class="box-title"><i class="fa fa-graduation-cap text-info"></i> <b>{% trans 'Edit training file' %}</b></div>
          <a href="https://docs.hutoma.ai/The_Anatomy_of_a_Bot/A_Bot_Training_file/Training_upload_&_progress.html" class="documentation link" target="_blank"  data-toggle="tooltip" title="{% trans 'Documentation' %}">
            <i class="fa fa-question-circle text-sm text-yellow"></i>
          </a>
        </div>

        <div class="box-body">

          <form id="TRAINIG_FORM" method="post" class="enhanced-textarea-form persistent">
            {% csrf_token %}

            {{ form | crispy }}

          </form>

          <p class="enhanced-textarea">
            {% blocktrans %}Attach files by dragging & dropping or <span class="btn-link">selecting them</span>{% endblocktrans %}
            <input accept=".txt" id="FILE" type="file" multiple="multiple" aria-label="Attach files to your comment">
          </p>

        </div>

        <div class="box-footer">
          <button style="min-width: 100px" form="TRAINIG_FORM" class="btn btn-primary flat pull-right"><b>{% trans 'Save' %}</b></button>
        </div>

      </div>
    </section>
  </div>

  {% include 'modals/training_example.html' %}

  {% include 'modals/video_tutorial_training.html' %}

{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/enhanced_textarea.css' %}">
{% endblock %}

{% block javascripts %}
  {{ block.super }}

  <script src="{% static 'js/enhanced_textarea.js' %}"></script>
{% endblock %}
