{% extends 'base.html' %}

{% load i18n static crispy_forms_tags %}

{% block title %}{% trans 'Change your password' %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <div class="login-box">
    <div class="login-box-body" style="background-color: #202020;">

      <p class="login-box-msg"><b>{% trans 'Change your password' %}</b></p>

      <form method="POST" id="PASSWORD_CHANGE" action="{% url 'account_change_password' %}">
        {% csrf_token %}

        {{ form|crispy }}
      </form>

      <div class="form-group">
        <button form="PASSWORD_CHANGE" class="btn btn-primary btn-block">
          {% trans 'Change Password' %}
        </button>
      </div>

    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/anonymous.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {% include 'account/cookie_banner.html' %}
{% endblock javascripts.vendors %}
