{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <section>
    <div class="login-box">
      <div class="login-box-body" style="border: 1px solid #d2d6de; background-color: #202020;">

        <p class="login-box-msg"><b>{% trans "Reset your password" %}</b></p>

        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

      </div>
    </div>
  </section>
{% endblock %}
