{% extends 'base.html' %}

{% load i18n static crispy_forms_tags %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <section>
    <div class="login-box">
      <div class="login-box-body" style="border: 1px solid #d2d6de; background-color: #202020;">

        <p class="login-box-msg"><b>{% trans 'Reset your password' %}</b></p>

        <p>
          {% blocktrans %}
            If the email address matches your account on Hu:toma, you will receive an email shortly with instructions for resetting your password. Please contact us if you do not receive it within a few minutes.
          {% endblocktrans %}
        </p>

      </div>
    </div>
  </section>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/anonymous.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {% include 'account/cookie_banner.html' %}
{% endblock javascripts.vendors %}
