{% extends 'base.html' %}

{% load i18n static crispy_forms_tags %}

{% block title %}{% trans 'Change your password' %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <section>
    <div class="login-box">
      <div class="login-box-body" style="border: 1px solid #d2d6de; background-color: #202020;">

        <p class="login-box-msg"><b>{% trans 'Change your password' %}</b></p>

        <form method="POST" action=".">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-lg btn-primary btn-block" type="submit" name="action">{% trans 'Change my Password' %}</button>
        </form>

      </div>
    </div>
  </section>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/anonymous.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {% include 'account/cookie_banner.html' %}
{% endblock javascripts.vendors %}
