{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <section>
    <div class="login-box">
      <div class="login-box-body" style="border: 1px solid #d2d6de; background-color: #202020;">

        <p class="login-box-msg"><b>{% trans 'Reset your password' %}</b></p>

        <form method="POST" id="password_reset" action="{% url 'account_reset_password' %}">
          {% csrf_token %}

          {{ form|crispy }}
        </form>

        <div class="form-group">
          <button type="submit" form="password_reset" class="btn btn-primary btn-block btn-flat">{% trans 'Reset My Password' %}</button>
        </div>

      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts.vendors %}
  {% include 'account/cookie_banner.html' %}
{% endblock javascripts.vendors %}
