{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Signup' %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <section>
    <div class="register-box">
      <div class="login-box-body" style="border: 1px solid #d2d6de; background-color: #202020;">

        <p class="login-box-msg"><b>{% trans 'Sign up and start creating awesomeness' %}</b></p>

        <form class="form-signup" method="POST" id="register_form" action="{% url 'account_signup' %}">

          {% csrf_token %}

          {{ form | crispy }}

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

        </form>

        <div class="form-group row">
          <button type="submit" form="register_form" class="btn btn-primary btn-block btn-flat">{% trans 'Sign Up' %}</button>
        </div>

        <a class="new-link" href="{% url 'account_login' %}">{% trans 'I already have an account' %}</a>

      </div>
    </div>
  </section>

{% endblock %}
