{% extends "base.html" %}

{% load i18n static crispy_forms_tags %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block body.attributes %} class="web-body" id="body"{% endblock body.attributes %}

{% block content %}
  <section>
    <div class="login-box">
      <div class="login-box-body" style="border: 1px solid #d2d6de; background-color: #202020;">

        <p class="login-box-msg"><b>{% trans "Verify Your E-mail Address" %}</b></p>

        <p>
          {% blocktrans %}We have sent an email to you for verification. If you
          don't see the email please check your spam folder, otherwise contact
          us via the chat widget in the bottom right.{% endblocktrans %}
        </p>

      </div>
    </div>
  </section>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/anonymous.css' %}">
{% endblock %}

{% block javascripts.vendors %}
  {% include 'account/cookie_banner.html' %}
{% endblock javascripts.vendors %}
